/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* LIGHTBOX
----------------------------------------------- */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  	-webkit-tap-highlight-color: transparent;
}

body {
	width:100%;
	height:100%;
	line-height:1.5;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#707070;
	background:rgba(0, 0, 0, 0.9);
	overflow:hidden;
	text-rendering:optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
}

body.solo {
	background:black;
}

a {
	color:#ccc;
	font-weight:normal;
	text-decoration:none;
	-webkit-transition:color 200ms linear;
	-moz-transition:color 200ms linear;
	transition:color 200ms linear;
}

a:hover,
a:hover *,
strong
{
	color:#fff;
}

h1, h2, h3, h4 {
	font-weight:bold;
	color:#ccc;
}

h1 a {
	text-decoration:none;
	color:#ccc;
	font-weight:bold;
}

h1 a:hover {
	text-decoration:underline;
}

/* LAYOUT
----------------------------------------------- */

#lbox {
	overflow: hidden;
}

footer {
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	z-index:100;
	font-size:84%;
	padding:12px 15px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#main {
	position:relative;
}

#content {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity:0;
}

#content img {
	cursor:default;
}

#content p {
	text-align:left;
	margin:15px 0 0 0;
}

#content div.caption {
	text-align:center;
	margin:0 auto;
	padding:15px 50px;
	width:100%;
	font-size:90%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* PAGINATION
----------------------------------------------- */

div#lnav {
	position:absolute;
	top:60px;
	left:0;
	bottom:60px;
	z-index:1;
}

div#rnav {
	position:absolute;
	top:60px;
	right:0;
	bottom:60px;
	z-index:1;
}

div.tnav {
	width:60px;
}

div.tnav a {
	display:block;
	height:100%;
	width:100%;
	text-align: center;
	position:relative;
	font-size:18px;
}

div.tnav a span {
	margin:auto;
	position:absolute;
	text-align:center;
	top:50%;
	margin-top:-18px;
	width:60px;
	line-height:0;
	-webkit-transition:color 200ms linear;
	-moz-transition:color 200ms linear;
	transition:color 200ms linear;
}

div#lnav.tnav a span {
	right:0;
}

div#rnav.tnav a span {
	left:0;
}

/* ICONS/BUTTONS
----------------------------------------------- */

#caption-bttns {
	display: none;
}

.ibutton {
	color:#fff;
	cursor:pointer;
	display:block;
	position:absolute;
	z-index:999;
	text-align:center;
	min-width:25px;
	text-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.ibutton:hover {
	color:#fff;
}

#lbox-bttn-play, #lbox-bttn-pause {
	left:15px;
	top:15px;
}

#lbox-bttn-close {
	right:15px;
	top:15px;
}

#lbox-bttn-fs, #lbox-bttn-ns {
	right:47px;
	top:15px;
}

#lbox-bttn-ns {
	display: none;
}

/* These have to be done separately, b/c of the vendor prefixes */
:-webkit-full-screen a#lbox-bttn-ns	{ display: block; }
:-moz-full-screen a#lbox-bttn-ns	{ display: block; }
:-ms-full-screen a#lbox-bttn-ns		{ display: block; }
:-o-full-screen a#lbox-bttn-ns		{ display: block; }
:full-screen a#lbox-bttn-ns			{ display: block; }
body.full-screen a#lbox-bttn-ns			{ display: block; }

:-webkit-full-screen a#lbox-bttn-fs	{ display: none; }
:-moz-full-screen a#lbox-bttn-fs	{ display: none; }
:-ms-full-screen a#lbox-bttn-fs		{ display: none; }
:-o-full-screen a#lbox-bttn-fs		{ display: none; }
:full-screen a#lbox-bttn-fs			{ display: none; }
body.full-screen a#lbox-bttn-fs			{ display: none; }

@font-face {
  font-family: 'lbox';
  src: url("lightbox/lbox.eot?55616386");
  src: url("lightbox/lbox.eot?55616386#iefix") format('embedded-opentype'), url("lightbox/lbox.woff?55616386") format('woff'), url("lightbox/lbox.ttf?55616386") format('truetype'), url("lightbox/lbox.svg?55616386#lbox") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'lbox';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.icon-large:before{vertical-align:-10%;font-size:1.3333333333333333em}

.icon-pause:before { content: '\e804'; }
.icon-play:before { content: '\e803'; }
.icon-remove-sign:before { content: '\e802'; }
.icon-resize-small:before { content: '\e805'; }
.icon-fullscreen:before { content: '\e806'; }
.icon-angle-left:before { content: '\e801'; }
.icon-angle-right:before { content: '\e800'; }
.icon-export-alt:before { content: '\e807'; }
.icon-pinterest:before { content: '\e80a'; }
.icon-twitter:before { content: '\e808'; }
.icon-facebook:before { content: '\e80b'; }
.icon-tumblr:before { content: '\e80c'; }
.icon-gplus:before { content: '\e809'; }
.icon-download-alt:before { content: '\e80d'; }

#lbox_share {
	position:absolute;
	left:47px;
	top:12px;
	z-index:1;
}

.lbox_toggle {
	position:relative;
	height:40px;
	width:100%;
	display:block;
}

#lbox-bttn-share {
	position:absolute;
	z-index:1;
	top:3px;
}
#lbox-bttn-share.open {
	color:#fff;
}

#lbox_share_menu {
	display:none;
	margin:0 0 0 -6px;
	padding:0 0 0 0;
	height:30px;
	background:rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

#lbox_share_menu .ibutton {
	position:relative;
	font-size:11px;
}

#lbox_share_menu ul {
	list-style:none;
	padding-left:35px;
}

#lbox_share_menu ul li {
	display:inline-block;
}

#lbox_share_menu ul li a {
	display:block;
	width:30px;
	height:30px;
	line-height:31px;
	text-align:center;
	-moz-transition: all 250ms;
	-webkit-transition: all 250ms;
	transition: all 250ms;
}

#lbox_share_menu .akicon-facebook { padding-left:2px; }
#lbox_share_menu .kicon-gplus { padding-left:1px; }

#lbox_share_menu a.share-twitter:hover { background:#00aced;color:#fff !important; }
#lbox_share_menu a.share-facebook:hover { background:#3b5998;color:#fff !important; }
#lbox_share_menu a.share-pinterest:hover { background:#cb2027;color:#fff !important; }
#lbox_share_menu a.share-tumblr:hover { background:#32506d;color:#fff !important; }
#lbox_share_menu a.share-google:hover { background:#dd4b39;color:#fff !important; }
#lbox_share_menu a.share-dl:hover { background:#444;color:#fff !important; }

/* SPINNER
----------------------------------------------- */

.spinner_pos {
	position:fixed;
	left:50%;
	top:50%;
	height:30px;
	width:30px;
	margin-left:-30px;
	margin-top:-28px;
	z-index:1;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	transition: opacity 0.5s;
	z-index:9999;
}

body.loading .spinner_pos {
	opacity:1;
}

.spinner {
	height:100%;
	width:100%;
	margin:0 auto;
	position:relative;
	-webkit-animation: rotation 0.7s infinite linear;
	-moz-animation: rotation 0.7s infinite linear;
	-o-animation: rotation 0.7s infinite linear;
	animation: rotation 0.7s infinite linear;
	border:2px solid rgba(255,255,255,0.1);
	border-radius:100%;
}

.spinner:before {
	content:"";
	display:block;
	position:absolute;
	left:-2px;
	top:-2px;
	height:100%;
	width:100%;
	border-top:2px solid rgba(255,255,255,1);
	border-left:2px solid transparent;
	border-bottom:2px solid transparent;
	border-right:2px solid transparent;
	border-radius:100%;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}

/* RESPONSIVENESS
----------------------------------------------- */

@media only screen and (max-width: 767px) {

	footer {
		padding:4px 8px;
		font-size:40%;
	}
	div#content div.caption {
		font-size:80%;
	}
	div.tnav a span {
		margin-top:-8px;
	}
	.spinner_pos {
		margin-left:-15px;
		margin-top:-15px;
	}

}