* { @include box-sizing(border-box); }

//  QUERIES
//  --------------------------------------------------------

@mixin bp($point) {
    @if $point == xxl {
        @media screen and (min-width: 1300px) { @content; }
    }
    @if $point == xl {
        @media screen and (min-width: 860px) { @content; }
    }
    @if $point == l {
        @media screen and (min-width: 780px) { @content; }
    }
    @if $point == m-lt {
        @media screen and (max-width: 779px) { @content; }
    }
    @if $point == m {
        @media screen and (min-width: 600px) { @content; }
    }
    @if $point == s-lt {
        @media screen and (max-width: 600px) { @content; }
    }
}


//  GRID ELEMENTS
//  -------------------------------------------------------

// Contain floated elements in this
.l-100        { @include clearfix(); }
//.l-100        { @extend .cf }

// Applied to all screen sizes (mobile first)
.l-80         { float: left;  width: 80%; }
.l-75         { float: left;  width: 75%; }
.l-66         { float: left;  width: 66.66%; }
.l-60         { float: left;  width: 60%; }
.l-50         { float: left;  width: 50%; }
.l-40         { float: left;  width: 40%; }
.l-33         { float: left;  width: 33.33%; }
.l-25         { float: left;  width: 25%; }
.l-20         { float: left;  width: 20%; }
.l-10         { float: left;  width: 10%; }
.l--r         { float: right; }

@include bp(s) {
  .l-80--s   { float: left;  width: 80%; }
  .l-75--s   { float: left;  width: 75%; }
  .l-66--s   { float: left;  width: 66.66%; }
  .l-60--s   { float: left;  width: 60%; }
  .l-50--s   { float: left;  width: 50%; }
  .l-40--s   { float: left;  width: 40%; }
  .l-33--s   { float: left;  width: 33.33%; }
  .l-25--s   { float: left;  width: 25%; }
  .l-20--s   { float: left;  width: 20%; }
  .l--r--s   { float: right; }
}

@include bp(m) {
  .l-80--m   { float: left;  width: 80%; }
  .l-75--m   { float: left;  width: 75%; }
  .l-70--m   { float: left;  width: 70%; }
  .l-66--m   { float: left;  width: 66.66%; }
  .l-60--m   { float: left;  width: 60%; }
  .l-50--m   { float: left;  width: 50%; }
  .l-40--m   { float: left;  width: 45%; }
  .l-40--m   { float: left;  width: 40%; }
  .l-33--m   { float: left;  width: 33.33%; }
  .l-30--m   { float: left;  width: 30%; }
  .l-25--m   { float: left;  width: 25%; }
  .l-20--m   { float: left;  width: 20%; }
  .l--r--m   { float: right; }
}

@include bp(l) {
  .l-100--l  { width: 100%; }
  .l-80--l   { float: left;  width: 80%; }
  .l-75--l   { float: left;  width: 75%; }
  .l-66--l   { float: left;  width: 66.66%; }
  .l-60--l   { float: left;  width: 60%; }
  .l-50--l   { float: left;  width: 50%; }
  .l-40--l   { float: left;  width: 40%; }
  .l-33--l   { float: left;  width: 33.33%; }
  .l-25--l   { float: left;  width: 25%; }
  .l-20--l   { float: left;  width: 20%; }
  .l--r--l   { float: right; }
}

@include bp(xl) {
  .l-100--xl  { width: 100%; }
  .l-85--xl   { float: left;  width: 85%; }
  .l-80--xl   { float: left;  width: 80%; }
  .l-75--xl   { float: left;  width: 75%; }
  .l-66--xl   { float: left;  width: 66.66%; }
  .l-60--xl   { float: left;  width: 60%; }
  .l-50--xl   { float: left;  width: 50%; }
  .l-40--xl   { float: left;  width: 40%; }
  .l-33--xl   { float: left;  width: 33.33%; }
  .l-25--xl   { float: left;  width: 25%; }
  .l-20--xl   { float: left;  width: 20%; }
  .l-15--xl   { float: left;  width: 15%; }
  .l--r--xl   { float: right; }
}