// ---------------------------------------------------------------------------
// Variables
// ---------------------------------------------------------------------------

.wf-loading h1,
.wf-loading h2 {
    visibility: hidden;
}

body {
    -webkit-font-smoothing: antialiased;
    background: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    position: absolute;

    @include bp(m) {
        height: 120%;
    }

    @include bp(l) {
        height: 140%;
    }
    @include bp(xl) {
        height: 100%;
    }
}

header {
    @include clearfix();
    float: left;
    overflow: hidden;
    position: relative;
    z-index: 10;
    margin: 10% 0 0 10%;
    width: 80%;

    @include bp(m) {
        margin: 12.5% 0 0 12.5%;
        padding-bottom: 0;
        width: 75%;
    }

    @include bp(xl) {
        //margin: 10% 0 0 10%;
        padding-bottom: 0;
        width: 50%;
    }
    @include bp(xxl) {
        margin: 12.5% 0 0 12.5%;
    }
}

section {
    clear: left;
    float: left;
    width: inherit;
}

footer {
    background: transparent;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 30px;
    width: 100%;
    z-index: 100;
}

.square-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: 0;

    @include bp(m) {
        height: 130%;
    }

    @include bp(l) {
        height: 100%;
    }

    @include bp(xxl) {
        height: 130%;
    }
}

.small-square {
    background: #fff;
    display: none;
    float: left;
    height: 0;
    padding-bottom: 10%;
    width: 10%;

    @include bp(m) {
        height: 0;
        padding-bottom: 12.5%;
        width: 12.5%;
    }

     @include bp(l) {
        height: 0;
        padding-bottom: 12.5%;
        width: 12.5%;
    }

    @include bp(xl) {
        height: 0;
        //padding-bottom: 5%;
        //width: 5%;
    }
}

h1 {
    display: none;
    float: left;
    font-family: "mono45-headline",sans-serif;
    font-weight: normal;
    letter-spacing: 0.09em;
    line-height: 0.85em;
    margin: 0;
    padding: 10% 0 0 10%;
    text-transform: uppercase;
    width: 100%;

    @include bp(m) {
        padding: 5% 0 0 5%;
        width: 50%;
    }
    span {
        float: left;
    }
}

h2 {
    float: left;
    font-family: "brandon-grotesque",sans-serif;
    font-size: 18px;
    position: relative;
    white-space: normal;
    z-index: 20;
    text-align: center;
    width: 100%;

    span {
        display: table-cell;
        left: 0;
        line-height: 24px;
        padding: 0 1em;
        position: absolute;
        vertical-align: middle;
    }

    @include bp(m) {
        float: right;
        width: 50%;

        span {
            line-height: 32px;
            padding: 0 2em;
        }
    }
}

// section
.icons {
    margin-left: 10%;
    width: 80%;

    @include bp(m) {
        margin-left: 12.5%;
        width: 75%;
    }

    @include bp(xl) {
        margin-left: 37.5%;
        width: 50%;
    }
}

    // a
    .icon {
        display: block;
        float: left;
        position: relative;
        text-align: center;
        text-decoration: none;
        width: 50%;
        z-index: 500;

        &:before {
            padding-top: 27%;
            //display: inline-block;
        }

        @include bp(m) {
            width: 33.33%;

            &:before {
                padding-top: 27%;
            }
        }

        @include bp(l) {
            //width: 12.5%;
        }

        @include bp(xl) {
            width: 25%;
        }
    }

        .icon-shuffle {
            display: block;
            float: left;
            position: relative;
            text-align: center;
            text-decoration: none;
            width: 40%;
            z-index: 600;

            &:before {
                padding-top: 27%;
                //display: inline-block;
            }

            @include bp(m) {
                width: 25%;
            }
            @include bp(l) {
                width: 25%;
            }
            @include bp(xl) {
                width: 12.5%;
            }
        }

        .shuffle-1 {
            display: none !important;

            @include bp(xl) {
                display: block !important;
                margin: 12.5% 0 0 12.5%;
            }
        }

        .shuffle-2 {
            display: block !important;
            margin: 0 0 0 50%;

            @include bp(m) {
                margin:  0 0 0 12.5%;
            }
            @include bp(xl) {
                display: none !important;
            }
        }