@charset "UTF-8";

.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\2709'; } /* '✉' */
.icon-pencil-1:before { content: '\e800'; } /* '' */
.icon-pencil-2:before { content: '\270e'; } /* '✎' */
.icon-refresh:before { content: '\27f3'; } /* '⟳' */
.icon-aperture:before { content: '\e797'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-camera-1:before { content: '\e802'; } /* '' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */