@charset "UTF-8";

@font-face {
  font-family: 'uncommonpixel-icons';
  src: url("../font/uncommonpixel-icons.eot");
  src: url("../font/uncommonpixel-icons.eot?#iefix") format('embedded-opentype'), url("../font/uncommonpixel-icons.woff") format('woff'), url("../font/uncommonpixel-icons.ttf") format('truetype'), url("../font/uncommonpixel-icons.svg#uncommonpixel-icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'uncommonpixel-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\2709'; } /* '✉' */
.icon-pencil-1:before { content: '\e800'; } /* '' */
.icon-pencil-2:before { content: '\270e'; } /* '✎' */
.icon-refresh:before { content: '\27f3'; } /* '⟳' */
.icon-aperture:before { content: '\e797'; } /* '' */
.icon-post:before { content: '\e82c'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-flickr:before { content: '\f303'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-soundcloud:before { content: '\f348'; } /* '' */
.icon-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-camera:before { content: '📷'; } /* '\1f4f7' */
.icon-camera-1:before { content: '\e802'; } /* '' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */