@charset "UTF-8";
@font-face {
  font-family: 'uncommonpixel-icons';
  src: url("../font/uncommonpixel-icons.eot");
  src: url("../font/uncommonpixel-icons.eot?#iefix") format("embedded-opentype"), url("../font/uncommonpixel-icons.woff") format("woff"), url("../font/uncommonpixel-icons.ttf") format("truetype"), url("../font/uncommonpixel-icons.svg#uncommonpixel-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'uncommonpixel-icons';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  opacity: 0.8;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before {
  content: '\e801';
}

/* '' */
.icon-mail-1:before {
  content: '\2709';
}

/* '✉' */
.icon-pencil-1:before {
  content: '\e800';
}

/* '' */
.icon-pencil-2:before {
  content: '\270e';
}

/* '✎' */
.icon-refresh:before {
  content: '\27f3';
}

/* '⟳' */
.icon-aperture:before {
  content: '\e797';
}

/* '' */
.icon-post:before {
  content: '\e82c';
}

/* '' */
.icon-linkedin:before {
  content: '\f0e1';
}

/* '' */
.icon-flickr:before {
  content: '\f303';
}

/* '' */
.icon-twitter:before {
  content: '\f309';
}

/* '' */
.icon-dribbble:before {
  content: '\f31b';
}

/* '' */
.icon-spotify:before {
  content: '\f327';
}

/* '' */
.icon-soundcloud:before {
  content: '\f348';
}

/* '' */
.icon-mobile:before {
  content: '📱';
}

/* '\1f4f1' */
.icon-camera:before {
  content: '📷';
}

/* '\1f4f7' */
.icon-camera-1:before {
  content: '\e802';
}

/* '' */
.icon-shuffle:before {
  content: '🔀';
}

/* '\1f500' */
/*
    HTML5 Reset :: style.css
    ----------------------------------------------------------
    We have learned much from/been inspired by/taken code where offered from:
    
    Eric Meyer                  :: http://meyerweb.com
    HTML5 Doctor                :: http://html5doctor.com
    and the HTML5 Boilerplate   :: http://html5boilerplate.com
    
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted. 
    don't forget to restore the bullets within content. */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't screw with your line-heights
    gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.l-100 {
  overflow: hidden;
  *zoom: 1;
}

.l-80 {
  float: left;
  width: 80%;
}

.l-75 {
  float: left;
  width: 75%;
}

.l-66 {
  float: left;
  width: 66.66%;
}

.l-60 {
  float: left;
  width: 60%;
}

.l-50 {
  float: left;
  width: 50%;
}

.l-40 {
  float: left;
  width: 40%;
}

.l-33 {
  float: left;
  width: 33.33%;
}

.l-25 {
  float: left;
  width: 25%;
}

.l-20 {
  float: left;
  width: 20%;
}

.l-10 {
  float: left;
  width: 10%;
}

.l--r {
  float: right;
}

@media screen and (min-width: 600px) {
  .l-80--m {
    float: left;
    width: 80%;
  }

  .l-75--m {
    float: left;
    width: 75%;
  }

  .l-70--m {
    float: left;
    width: 70%;
  }

  .l-66--m {
    float: left;
    width: 66.66%;
  }

  .l-60--m {
    float: left;
    width: 60%;
  }

  .l-50--m {
    float: left;
    width: 50%;
  }

  .l-40--m {
    float: left;
    width: 45%;
  }

  .l-40--m {
    float: left;
    width: 40%;
  }

  .l-33--m {
    float: left;
    width: 33.33%;
  }

  .l-30--m {
    float: left;
    width: 30%;
  }

  .l-25--m {
    float: left;
    width: 25%;
  }

  .l-20--m {
    float: left;
    width: 20%;
  }

  .l--r--m {
    float: right;
  }
}
@media screen and (min-width: 780px) {
  .l-100--l {
    width: 100%;
  }

  .l-80--l {
    float: left;
    width: 80%;
  }

  .l-75--l {
    float: left;
    width: 75%;
  }

  .l-66--l {
    float: left;
    width: 66.66%;
  }

  .l-60--l {
    float: left;
    width: 60%;
  }

  .l-50--l {
    float: left;
    width: 50%;
  }

  .l-40--l {
    float: left;
    width: 40%;
  }

  .l-33--l {
    float: left;
    width: 33.33%;
  }

  .l-25--l {
    float: left;
    width: 25%;
  }

  .l-20--l {
    float: left;
    width: 20%;
  }

  .l--r--l {
    float: right;
  }
}
@media screen and (min-width: 860px) {
  .l-100--xl {
    width: 100%;
  }

  .l-85--xl {
    float: left;
    width: 85%;
  }

  .l-80--xl {
    float: left;
    width: 80%;
  }

  .l-75--xl {
    float: left;
    width: 75%;
  }

  .l-66--xl {
    float: left;
    width: 66.66%;
  }

  .l-60--xl {
    float: left;
    width: 60%;
  }

  .l-50--xl {
    float: left;
    width: 50%;
  }

  .l-40--xl {
    float: left;
    width: 40%;
  }

  .l-33--xl {
    float: left;
    width: 33.33%;
  }

  .l-25--xl {
    float: left;
    width: 25%;
  }

  .l-20--xl {
    float: left;
    width: 20%;
  }

  .l-15--xl {
    float: left;
    width: 15%;
  }

  .l--r--xl {
    float: right;
  }
}
.wf-loading h1,
.wf-loading h2 {
  visibility: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  background: white;
  font-size: 16px;
  width: 100%;
  height: 100%;
  position: absolute;
}
@media screen and (min-width: 600px) {
  body {
    height: 120%;
  }
}
@media screen and (min-width: 780px) {
  body {
    height: 140%;
  }
}
@media screen and (min-width: 860px) {
  body {
    height: 100%;
  }
}

header {
  overflow: hidden;
  *zoom: 1;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 10;
  margin: 10% 0 0 10%;
  width: 80%;
}
@media screen and (min-width: 600px) {
  header {
    margin: 12.5% 0 0 12.5%;
    padding-bottom: 0;
    width: 75%;
  }
}
@media screen and (min-width: 860px) {
  header {
    padding-bottom: 0;
    width: 50%;
  }
}
@media screen and (min-width: 1300px) {
  header {
    margin: 12.5% 0 0 12.5%;
  }
}

section {
  clear: left;
  float: left;
  width: inherit;
}

footer {
  background: transparent;
  bottom: 0;
  left: 0;
  position: absolute;
  height: 30px;
  width: 100%;
  z-index: 100;
}

.square-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  z-index: 0;
}
@media screen and (min-width: 600px) {
  .square-bg {
    height: 130%;
  }
}
@media screen and (min-width: 780px) {
  .square-bg {
    height: 100%;
  }
}
@media screen and (min-width: 1300px) {
  .square-bg {
    height: 130%;
  }
}

.small-square {
  background: #fff;
  display: none;
  float: left;
  height: 0;
  padding-bottom: 10%;
  width: 10%;
}
@media screen and (min-width: 600px) {
  .small-square {
    height: 0;
    padding-bottom: 12.5%;
    width: 12.5%;
  }
}
@media screen and (min-width: 780px) {
  .small-square {
    height: 0;
    padding-bottom: 12.5%;
    width: 12.5%;
  }
}
@media screen and (min-width: 860px) {
  .small-square {
    height: 0;
  }
}

h1 {
  display: none;
  float: left;
  font-family: "mono45-headline",sans-serif;
  font-weight: normal;
  letter-spacing: 0.09em;
  line-height: 0.85em;
  margin: 0;
  padding: 10% 0 0 10%;
  text-transform: uppercase;
  width: 100%;
}
@media screen and (min-width: 600px) {
  h1 {
    padding: 5% 0 0 5%;
    width: 50%;
  }
}
h1 span {
  float: left;
}

h2 {
  float: left;
  font-family: "brandon-grotesque",sans-serif;
  font-size: 18px;
  position: relative;
  white-space: normal;
  z-index: 20;
  text-align: center;
  width: 100%;
}
h2 span {
  display: table-cell;
  left: 0;
  line-height: 24px;
  padding: 0 1em;
  position: absolute;
  vertical-align: middle;
}
@media screen and (min-width: 600px) {
  h2 {
    float: right;
    width: 50%;
  }
  h2 span {
    line-height: 32px;
    padding: 0 2em;
  }
}

.icons {
  margin-left: 10%;
  width: 80%;
}
@media screen and (min-width: 600px) {
  .icons {
    margin-left: 12.5%;
    width: 75%;
  }
}
@media screen and (min-width: 860px) {
  .icons {
    margin-left: 37.5%;
    width: 50%;
  }
}

.icon {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 50%;
  z-index: 500;
}
.icon:before {
  padding-top: 27%;
}
@media screen and (min-width: 600px) {
  .icon {
    width: 33.33%;
  }
  .icon:before {
    padding-top: 27%;
  }
}
@media screen and (min-width: 860px) {
  .icon {
    width: 25%;
  }
}

.icon-shuffle {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 40%;
  z-index: 600;
}
.icon-shuffle:before {
  padding-top: 27%;
}
@media screen and (min-width: 600px) {
  .icon-shuffle {
    width: 25%;
  }
}
@media screen and (min-width: 780px) {
  .icon-shuffle {
    width: 25%;
  }
}
@media screen and (min-width: 860px) {
  .icon-shuffle {
    width: 12.5%;
  }
}

.shuffle-1 {
  display: none !important;
}
@media screen and (min-width: 860px) {
  .shuffle-1 {
    display: block !important;
    margin: 12.5% 0 0 12.5%;
  }
}

.shuffle-2 {
  display: block !important;
  margin: 0 0 0 50%;
}
@media screen and (min-width: 600px) {
  .shuffle-2 {
    margin: 0 0 0 12.5%;
  }
}
@media screen and (min-width: 860px) {
  .shuffle-2 {
    display: none !important;
  }
}
