<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Set mobile scaling -->
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<!-- Site description editable in console Settings -->
	<meta name="description" content="{{ site.description }}" />
	<!-- Site title editable in console Settings -->
	<meta name="author" content="{{ site.title }}" />
	<!-- Site keywords editable in console Settings -->
	<meta name="keywords" content="{{ site.keywords }}" />


	<!-- Publishes dynamic page title in each template -->
	<koken:title />

	<!-- css -->
	<!-- <koken:asset file="css/normalize.css" /> -->
	<koken:asset file="css/drawingsandphotos.css" />
	<koken:settings />

	<!-- js -->
    <koken:asset file="js/jquery-ui.min.js" />
    <koken:asset file="js/modernizr.min.js" />

	<!-- <koken:asset file="js/after_resize.js" /> -->
	<koken:asset file="js/imagesloaded.pkgd.min.js" />
	<koken:asset file="js/masonry.pkgd.min.js" />
    <koken:asset file="js/waypoints.min.js" />
    <koken:asset file="js/fastclick.js" />

    <koken:asset file="js/jquery.fittext-min.js" />
    <koken:asset file="js/jquery.cookie.js" />
    <koken:asset file="js/jquery.total-storage.min.js" />

    <script type="text/javascript" src="//use.typekit.net/bks7thc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- D&P js -->
    <koken:asset file="js/drawingsandphotos.js" />

</head>

<body>

	<header class="header  l-header">

        <!-- Site title editable in console Settings -->
        <!-- <h1 class="logo__heading">Drawings <span class="logo__ampersand">&</span> Photos</h1> -->
		<h1 class="heading-logo"><koken:link to="front" title="{{ labels.home.singular }}" class="heading-logo__link">{{ site.title }}</koken:link></h1>

		<!-- Site tagline editable in console Settings -->
        <!-- <h2 class="heading-site-description">Things that I made --><!-- ; sometimes they are combined --><!--. <a href="http://www.twitter.com/willhindson" title="@willhindson">Let me know</a> if any of them would look appropriate on your wall.</h2> -->
		<h2 class="heading-site-description">{{ site.tagline }}</h2>

		<nav class="nav-main">
			<!-- Inserts primary navigation group -->
			<koken:navigation />
		</nav>
    </header>


