<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="{{ site.description }}" />
	<meta name="author" content="{{ site.title }}" />
	<meta name="keywords" content="{{ site.keywords }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<koken:title />

	<koken:asset file="reset.css" common="true" />
	<koken:asset file="css/kicons.css" />
	<koken:settings />

	<koken:asset file="js/jquery.sidr.min.js" />

</head>

<body>

	<koken:if true="settings.show_social">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</koken:if>

	<div id="sidr-left" class="mob">
 		<koken:navigation />
 		<koken:navigation group="footer" />
	</div>

	<header class="main">

		<div class="site-title">

			<a id="mob-menu" href="#mob-menu" title="Open mobile menu"><i class="kicon-mob-menu"></i></a>

			<koken:if data="settings.site_title_type" equals="text">
				<h1><koken:link to="front" title="{{ labels.home.singular }}">{{ site.title }}</koken:link></h1>
			<koken:else>
				<koken:link to="front" title="{{ labels.home.singular }}"><img src="{{ settings.site_title_img_url }}" alt="{{ site.title }}" class="custom_logo"></koken:link>
			</koken:if>
		</div>

		<nav>
			<koken:navigation />
		</nav>

	</header>

	<div id="container">