@charset "UTF-8";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

//  SPRITE ICONS
//  ---------------------------------------------------------------------------------------

* { @include box-sizing(border-box); }

@mixin sprite($xpos, $ypos) {
    background-image: url(../img/sprite.png);
    background-image: url(../img/sprite.svg);
    background-position: $xpos $ypos;
    background-repeat: no-repeat;
}

//  TYPE
//  ---------------------------------------------------------------------------------------
/* .wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading a{
	visibility: hidden;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active a {
	visibility: visible;
}

body {
    font-family: "proxima-nova", sans-serif;
} */

//  EVERYTHING ELSE
//  ---------------------------------------------------------------------------------------

header.main h1 a {
	&:hover {
		color: #0F4EE1;
	}
}

.k-nav-breadcrumbs {
	padding-left: 0.4em;
	position: relative;
	float: left;

	&:before {
		background-color: white;
		content:'';
		float: right;
		position: absolute;
		right: 0;
		top: 0;
		height: 36px;
		width: 10px;
	}

	a {
		padding-bottom: 0;

		&:first-child {
			display: none;
		}

		&:last-child {
			display: none;
		}
	}

}

// Show last breadcrumb item on albums / album pages
.k-lens-albums .k-nav-breadcrumbs,
.k-lens-album .k-nav-breadcrumbs {
	&:before {
		display: none;
	}

	a:last-child {
		display: inline-block;
	}
}


@media only screen and (max-width: 767px) {
	div#container {
		padding: 55px 0 0 0 !important;
	}
}

div#container {
	padding: 55px 0 45px 0;
}

.site-title {
	float: left;
}

.icon-nav-mobile {


	&:before {
	    @include sprite(0, 0);
	    content: '';
	    display: block;
	    width: 18px;
	    height: 15px;
	}

	&:hover {
		&:before {
			background-position: 0 -50px;
		}
	}
}

div#content-pagination {
	overflow: hidden;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 200;
}

	a.content-pag {
		background-color: transparent;
		height: 100%;
		position: absolute;
		width: 50%;
		top: 0;

		&:hover:before {
			color: #0F4EE1;
			content: '';
			position: absolute;
			height: 20px;
			width: 20px;
			top: 50%;
			z-index: 500;
		}

		&.prev {
			left: 0;

			&:hover:before {
				content: '←';
				left: 20px;
			}
		}

		&.next {
			left: 50%;

			&:hover:before {
				content: '→';
				right: 20px;
			}
		}
	}

.link-map {
	float: right;
}

.item {
	@include pie-clearfix();
}

.item a {
	background-color: #eeeeee;
}

// Album heading
.img-under-title h2 {
	font-weight: bold;
}

@media only screen and (max-width: 767px) {
	header.main,
	footer.main {
		padding: 0 10px;
	}

	header.main {
		@include pie-clearfix();
		overflow: hidden;
	}

	div#grid {
		margin: 0 10px !important;
	}

	div#grid div.item img,
	div#content div.media img {
		max-height: none;
	}

	#mob-menu {
		display: block;
		float: right;
		margin-top: 20px;
	}

	.link-map {
		float: left;
	}
}

@media all and (min-width: 750px)  {
    .img-under-title p {
        min-height: 8em;
    }
}

div#text {
    max-width: 60%;
    width: auto;
}