html {

}

body {
	background: url("../gfx/bg-yellow-x-repeat3.png") repeat scroll 0 -70px transparent; /* For non multiple background browsers (looking at you IE) */
}






/* --------------------------------------------------------------------------------------------- */
/* 																			 */
/* 																						  		 */
/* --------------------------------------------------------------------------------------------- */

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	color: #6C6140;
	font-family: 'ArvoRegular',arial,serif;
	font-size: 37px;
	line-height: 1.2em;
	text-align: left;
	text-shadow: 0 1px 0 #FBE9A6, 0 1px 2px #FBE9A6, 0 -1px 0 #32270F;
	width: 404px;
}

h2 {
	color: #FFFFFF;
	float: left;
	font-family: 'ArvoRegular',arial,serif;
	font-size: 24px;
	line-height: 1.3em;
	text-shadow: 0 1px 0 #807036, 0 0 3px #786F32;
	width: 420px;
}

h3 {	
	background: url("../gfx/header-flourish.png") no-repeat scroll center bottom transparent;
	clear: left;
	color: #554D44;
	font-family: 'MidoMedium',serif;
	font-size: 36px;
	height: 80px;
	letter-spacing: 0;
	text-align: center;
	text-shadow: 0 -1px 0 #3E3933, 0 1px 0 #EAD594;
	text-transform: uppercase;
	width: 980px;
}

img {
	border: none;
	display: block;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

/* Text selection colour */
::selection {
    background: #fcfa6e; /* Safari */
    color: #675D55;
}
::-moz-selection {
    background: #fcfa6e; /* Firefox */
    color: #675D55;
}

:focus {
	outline: none;
}

#wrapper {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 980px;
	
}

footer {
	background: #000;
	-webkit-box-shadow: 0 20px 20px #000 inset;
	-moz-box-shadow: 0 20px 20px #000 inset;
	box-shadow: 0 20px 20px #000 inset;
	
	width: 100%;
}

	footer section#hiring {
		padding: 20px;
		width: 940px;
		margin: 0 auto;
	}