//  MAKE THE BROWSER GOOD
//  --------------------------------------------------------
* { @include box-sizing(border-box); }



//  GRID ELEMENTS
//  -------------------------------------------------------


// Contain floated elements in this
.l-100 { @include pie-clearfix(); }



//  GRID ELEMENTS FOR MAIN CONTENT BLOCKS INCLUDING PADDING
//  -------------------------------------------------------


.l-header {
    @include pie-clearfix();
    padding: $pad*2;

    @include query-min(960px) {
        padding-top: $pad*4;
    }
}

    .l-btn-nav {

    }

    .l-logo {

    }

.l-nav-body {

}

.l-nav-content {
    width: 100%;
}

.l-content {
    padding: 0 $pad;

    @include query-min(640px) {
        padding: 0 $pad*2;
    }
}

.content {
    @include pie-clearfix();
    width: 100%;
}

.list-content {
    @include pie-clearfix();
}



ul, ol {
    list-style: none;
}

.content {
    width: 100%;
}

// ol
.grid {
    @include pie-clearfix();
    width: 100%;
}

    // li
    .grid__item {
        @include pie-clearfix();

        margin-bottom: $pad*2;
        padding: $pad/2;
        max-width: 100%;
    }

    .grid--small {

        .grid__item {
            margin-bottom: $pad/2;
            width: 50%;

            @include query-min(480px){
                width: 33%;
            }

            @include query-min(640px){

            }

            @include query-min(800px){
                padding: $pad;
                width: 25%;
            }

            @include query-min(960px){
                width: 20%;
            }
        }
    }

    .grid--large {

        .grid__item {
            max-width: 100%;
            padding: $pad;

            @include query-min(1280px){
                //width: 50%;
            }
        }
    }

    // Single page image
    .container-single {
        padding: $pad;
    }

//figure
.img-frame {
    background-color: white;
    border: $pad/2 solid $color-grey--light;
    padding: $pad/2;
    margin: 0 auto;
    max-width: 1120px;


    @include query-min(800px){
        border-width: $pad;
        padding: $pad;
    }
}

    .grid--large {

        .img-frame {
            //border-width: $pad;
        }
    }

img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

figcaption {
    margin-bottom: $pad*2;
    width: 100%;
    text-align: center;
}

// Animated svg loader ftw
img.k-lazy-loading {
    background-image: url(../img/loader.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 66px 66px;
}