// GLOBAL STATE RULES
// --------------------------------------------------------

.is-visible {
  // Bog standard (animate with jquery):
  display: block; // Might need !important
}

.is-hidden {
  // Bog standard (animate with jquery):
  display: none; // Might need !important
}
