//  FONTS
//  ------------------------------------------------------

$font-sans: "futura-pt";
$font-sans-secondary: "ff-meta-web-pro";
$font-special: "acta-poster";
$font-special-ligatures: "acta-poster-swashes";

//$font-serif: "ff-meta-serif-sc-web-pro";
$font-serif: "jubilat";

// TYPOGRAPHY
// --------------------------------------------------------


html {
    font-family: $font-sans;
    font-weight: normal;
}

// Specific element font overrides
button, select, input {

}

h1, h2, h3, h4, p, li, dl, a, span, button {

}

h1,h2,h3,h4,h5,h6,
ul,ol,dl,
fieldset,
p,
table,
pre,
hr{

}

/* Massive type */
.giga{
    font-size:80px;
}
.mega{
    font-size:64px;
}
.kilo{
    font-size:48px;
}

h1, h2, h3, h4, h5, h6, p {

}
    h1, .alpha {
        color: #333;
    }
    h2, .beta {
        color: #333;
        display: block;
        // font-family: $font-sans-secondary;
        font-family: $font-serif;
        font-weight: 400;
        //font-size: 32px;
    }
    h3, .gamma {
        color: #333;
        font-family: $font-serif;
        // font-family: $font-sans-secondary;
        font-weight: 400;
        font-size: 32px;
    }
    h4, .delta {

    }
    h5, .epsilon {

    }
    h6, .zeta {

    }


p {

}

a {
    color: $color-main;
}

/* Smaller-than-body-copy sizes here. */
small,.milli {

}

strong {

}



// h1
.heading-logo {
    color: $color-main;
    //font-size: 5.9vw;
    line-height: 1;
    margin-bottom: $pad*1.5;
    text-transform: uppercase;
    text-align: center;
}

    // a
    .heading-logo__link {
        display: block;
        text-decoration: none;
    }

    // span
    .logo__ampersand {
        //font-family: $font-special;
        //font-size: 2em;
    }

    // h2
    .heading-site-description {
        display: block;
        margin: 0 auto $pad*1.5;
        text-align: center;
        max-width: 80%;

        @include query-min(640px) {
            max-width: 70%;
        }

        a {
            color: $color-grey--medium;
            text-decoration: none;

            &:hover {
                color: $color-main;
            }
        }
    }

