// Reset the button element
button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
}




// Generic buttons
// -------------------------------------------------------------------------------
.btn {
    -webkit-appearance: none;

    &:hover {

    }

    &:active {

    }
}


.view-toggle {
    @include pie-clearfix();
    margin : 0 auto $pad*2;
    position: relative;
    width: 100px;

    // @include query-min(640px) {
    //     width: 190px;
    // }

}

.btn-view {
    border: $pad/2 solid $color-grey--medium;
    float: left;
    position: relative;
    text-indent: -9999px;
    width: 45px;
    height: 45px;

    &:before {
        @include sprite(0,0);
        content: '';
        width: 25px;
        height: 25px;
        position: absolute;
        top: $pad/2;
        left: $pad/2;
    }

    &:hover,
    &:focus,
    &.is-selected {
        border-color: $color-main;
    }

    /* @include query-min(640px) {
        border-width: $pad;
        width: 90px;
        height: 90px;

        &:before {
            width: 50px;
            height: 50px;
            position: absolute;
            top: $pad;
            left: $pad;
        }
    } */

}

    .btn-view--small {
        // Small icon
        &:before {
            background-position: -100px -200px;
        }

        &:hover,
        &:focus,
        &.is-selected {
            &:before {
                background-position: -100px -300px;
            }
        }

        // Large icon
        /* @include query-min(640px) {
            &:before {
                background-position: 0 -200px;
            }

            &:hover,
            &:focus,
            &.is-selected {
                &:before {
                    background-position: 0 -300px;
                }
            }
        } */
    }

    .btn-view--large {
        margin-right: 10px;

        &:before {
            background-position: -100px 0px;
        }

        &:hover,
        &:focus,
        &.is-selected {
            &:before {
                background-position: -100px -100px;
            }
        }

        // Large icon
        /* @include query-min(640px) {
            &:before {
                background-position: 0 0px;
            }

            &:hover,
            &:focus,
            &.is-selected {
                &:before {
                    background-position: 0 -100px;
                }
            }
        } */
    }