// nav
.nav-main {

}

// ul

.k-nav-list {
    text-align: center;
    margin-bottom: $pad;

    @include query-min(640px) {
        //margin-bottom: $pad*2;
    }

    li {
        display: inline-block;
        margin: 0 $pad*1;

        @include query-min(640px) {
            margin: 0 $pad*1.5;
        }

        a {
            color: $color-grey--medium;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;

            &:hover,
            &:focus {
                color: $color-main;
            }

            @include query-min(640px) {
                font-size: 20px;
            }

            @include query-min(640px) {
                font-size: 22px;
            }
        }

        .k-nav-current {
            border-bottom: 2px solid $color-main;
            color: $color-main;
            //padding-bottom: 0px;
            //text-decoration: underline;
        }
    }
}


