// IMPORTS
// --------------------------------------------------------

@charset "utf-8";

// Compass extras
@import "compass/css3";
@import "compass/utilities/general/clearfix";
// @import "breakpoint"; // Separate compass extension

// Base & generic styles
@import "00-reset";
@import "01-vars";
@import "02-mixins";
@import "03-layout";
@import "04-states";
@import "05-fonts";
@import "05-type";
@import "06-btns";
@import "07-lists";
@import "08-forms";
@import "09-tables";

@import "nav";



// DEFAULT ELEMENTS
// --------------------------------------------------------

html, body {
    margin:0;
    padding:0;

    @include old-ie {

    }
}
body {
    background-color: white;
}