/* ---------------------------------------------------------------------------------------------
	
	COLOUR REFERENCE - DARKEST TO LIGHTEST
	
	#433B27 - Headers (dark brown)
	#746F69 - Body text, h3 & on state (warm dark grey)
	#B67F00 - h3 navigation (orange)
	#F4C70A - hover (yellow)
	#E9E7E5 - pop up bubble (light beige) bg
	#CBC5BD - inactive text (light beige)
	#F8F5F0 - slideshow caption (white)
	
--------------------------------------------------------------------------------------------- */


html, img {
	/* Stop image background / outline when tapping in mobile Safari */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
	/* -webkit-text-stroke:none; */
}

body {
	background: url("../gfx/bg-white-noise.png") repeat white;
	/* overflow: hidden; */ /* To horizontally clip footer hills */
	position: relative; /* To position footer hills absolutely */
}


/* ---------------------------------------------------------------------------------------------
	TYPOGRAPHY (SERVED BY TYPEKIT)
	
--------------------------------------------------------------------------------------------- */

h1, h2, h4, h6, a, label, input, textarea,
#twitter p, #arnie-bubble p, p#signoff {
	font-family: 'museo-slab', Georgia, serif;
}

h3, h5, p, li,
#categories-nav a, #aboutnav a, .client-site a {
	font-family: 'futura-pt', Helvetica, Arial, serif;
}

/* stop flash of unstyled text while typekit fonts are loading */
.wf-loading h1,	.wf-loading h2,	.wf-loading h3,	.wf-loading h4, .wf-loading h5,	.wf-loading a, .wf-loading p {
	visibility: hidden;
}

	/* TEXT COLOURS */
	
	h1, h2,
	h1 span:hover, h1 span:focus, h2 span:hover, h2 span:focus, 
	#headernav a:hover h3, #headernav a:focus h3,
	#work article h4, #work article a, label,
	.related-projects-bubble ul li:hover,
	#categories-nav a:hover, #categories-nav a:focus, #categories-nav a:active, #categories-nav a.on,
	.client ul li:hover, .client-site a:hover,
	#aboutnav ul li a:hover, #aboutnav ul li a:focus, #aboutnav ul li.active a,
	#about h4,
	input, textarea,
	#arnie-bubble p { color: #433B27; } /* dark brown */
	
	h1 span, h2 span, a h3 { color: #B67F00; } /* dark orange */
	
	h3, p,
	.client a, .client ul li,
	.related-projects-bubble ul li,
	#about .employee h4, #jobs article li { color: #746F69; } /* warm dark grey */
	
	#categories-nav a, .label-inactive, h5, #aboutnav a { color: #CBC5BD; } /* light beige */
	
	a { color: inherit; }
	
	h6, .projectthumb p, #dropnavSections li a, p#signoff a:hover, .caption p,
	input:focus, textarea:focus, input[type=submit]:hover { color: #FFFFFF; } /* white */
	
	#dropnavSections li a:hover { color: #F4DF8D; } /* light yellow */
	
	#dropnavSections .on, #work article a:hover, #work article a:focus, .label-inactive:hover,
	section#clients ol li.client a:hover,section#clients ol li.client a:focus,
	#jobs article a:hover { color: #F4C70A; } /* yellow */

	#facebook-text:hover { color: #3B5998; } /* facebook blue */
	
	.tweet_link_0 a:hover { color: #4AD2FF; } /* blue */
	
	#contact h4 { color: #587F93; } /* deep sky blue */
	
	footer p#signoff { color: #585836; } /* forest green */
	
	/* Text selection colour */
	::selection {
	    background: #FCFA6E; /* Safari */
	    color: #675D55;
	}

	::-moz-selection {
	    background: #FCFA6E; /* Firefox */
	    color: #675D55;
	}
	

/* ---------------------------------------------------------------------------------------------
	REPEATED ELEMENTS

--------------------------------------------------------------------------------------------- */


a {
	text-decoration: none;
}

	a:active,
	a:selected { 
	    border: none;
	    outline: none;
	}

h3 {
	clear: left;
	display: block;
	font-size: 41px;
	height: 80px;
	letter-spacing: 0;
	margin: 0 auto 40px;
	text-align: center;
	text-shadow: 0 1px 0 #5C5349, 0 1px 2px #91887C, 0 -1px 0 #F7F7F7;
	text-transform: uppercase;
	width: 980px;
}

img {
	border: none;
	display: block;
}

li {
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

:focus {
	outline: none;
}

button {
	border: none;
}

/* stop (navigational) text & images from being 'accidentally' selected */
nav#headernav li a,
nav#dropnav li a,
nav#aboutnav li a,
img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/* For elements with a BORDER RADIUS: prevents background color from spilling out from the rounded corners */
#twitter, .related-projects-bubble ul,
div#projectthumbs .projectthumb, div#projectthumbs .projectthumb h6, div#projectthumbs div.category-dot, .projectthumb img, ol li.client ul,
.employee .card,
.about-slideshow div.cycle-slideshow,
form,
#arnie-bubble p {
	-webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;
}    
				
				
/* ---------------------------------------------------------------------------------------------
	STRUCTURE
--------------------------------------------------------------------------------------------- */

#wrapper {
	background: url("../gfx/bg-yellow-x-repeat.png") repeat-x scroll 0 -70px transparent; /* For non multiple background browsers */
	height: 100%;
	margin: 0 auto;
	min-width: 1010px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

	.content {
		height: 100%;
		width: 980px;
		margin: 0 auto;
		position: relative;
	}
	

/* --------------------------------------------------------------------------------
	DROP NAV (HIDDEN - including navigation and "secret" social section)
-------------------------------------------------------------------------------- */

nav#dropnav {
	background: #655C52 url(../gfx/dropdown_texture.png) repeat;
	border-bottom: 5px solid #4E4943;
	height: 190px;
	left: 0;
	top: -182px;
	opacity: 0.98;
	position: fixed;
	text-align: center;
	width: 100%;
	min-width: 1010px;
	z-index: 200;
	
	-webkit-box-shadow: 0px 0px 4px #524A2C;
	-moz-box-shadow: 0px 0px 4px #524A2C; 
    box-shadow: 0px 0px 4px #524A2C; 
}

	/* --------------------------------------------------------------------------------
		SOCIAL HIDDEN SECTION
	-------------------------------------------------------------------------------- */
	
	#social-container {
		border-bottom: 1px dotted #807B73;
		width: 100%;
		
		-webkit-box-shadow: 0 -10px 30px #4E4943 inset;
		-moz-box-shadow: 0 -10px 30px #4E4943 inset;
		box-shadow: 0 -10px 30px #4E4943 inset;
	}
		
			#social-content {
				height: 150px;
				margin: 0 auto;
				position: relative;
				width: 1010px;
			}
		
				#social-content img {
					display: block;
				}
			
				#social-sign {
					border-right: 4px dashed #554D42;
					height: 107px;
					left: 20px;
					padding-right: 30px;
					position: absolute;
					top: 22px;
					width: 81px;
				}
				
				#facebook-text {					
					background: none repeat scroll 0 0 #E9E7E5;
					border: 3px solid #4E4943;
					left: 161px;
					padding: 6px;
					position: absolute;
					top: 20px;
					
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}
					
					#facebook-down-arrow {					
						border-bottom: 15px solid transparent;
						border-right: 15px solid #E9E7E5;
						border-top: 0 solid transparent;
						height: 0;
						left: 214px;
						margin: 0;
						position: absolute;
						top: 50px;
						width: 0;
						z-index: 51;
					}
					
					#facebook-down-arrow-border {
						border-bottom: 18px solid transparent;
						border-right: 18px solid #514B42;
						border-top: 0 solid transparent;
						height: 0;
						left: 213px;
						margin: 0;
						position: absolute;
						top: 53px;
						width: 0;
						z-index: 50;
					}
				
				#social-fb {
					left: 120px;
					margin: 0 0 0 40px;
					position: absolute;
					top: -70px;
				}
				
					#social-fb img {
						width: 79px;
						height: 68px;
					}
				
					#social-fb:hover {
						
					}
				
				#social-newspaper-guy {
					border-right: 4px dashed #554D42;
					height: 104px;
					left: 260px;
					padding: 2px 30px 5px 0;
					position: absolute;
					top: 21px;
					width: 76px;
				}
				
				#twitter-text {
					left: 395px;
					position: absolute;
					top: 20px;
					background: none repeat scroll 0 0 #E9E7E5;
					border: 3px solid #4E4943;
					padding: 6px;
					
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
				}
					
					#twitter-down-arrow {					
						border-bottom: 15px solid transparent;
						border-right: 15px solid #E9E7E5;
						border-top: 0 solid transparent;
						height: 0;
						left: 434px;
						margin: 0;
						position: absolute;
						top: 50px;
						width: 0;
						z-index: 51;
					}
					
					#twitter-down-arrow-border {
						border-bottom: 18px solid transparent;
						border-right: 18px solid #514B42;
						border-top: 0 solid transparent;
						height: 0;
						left: 433px;
						margin: 0;
						position: absolute;
						top: 53px;
						width: 0;
						z-index: 50;
					}
				
				#twitter-link {
					height: 105px;
					left: 455px;
					position: absolute;
					top: 34px;
					width: 100px;
				}
				
					#twitter-nest-top {
						left: 0;
						position: absolute;
						top: 51px;
						z-index: 5;
					}
					
					#twitter-egg {
						display: block;
						left: 28px;
						position: absolute;
						top: 18px;
						z-index: 3;
						width: 48px;
						height: 73px;
					}
					
					#twitter-nest-back {
						left: 0;
						position: absolute;
						top: 16px;
						z-index: 1;
					}
			
				#social-btn-mask {
					position: absolute;
					height: 170px;
					width: 93px;
					top: 169px;
					right: 10px;
					overflow: hidden;
					z-index: 19;
				}
			
					#social-btn {
						background: url('../gfx/social-btn.png') no-repeat 0 0;
						border: medium none;
						top: -40px;
						display: block;
						height: 167px;
						position: absolute;
						left: 10px;
						text-indent: -9999px;
						width: 83px;
						z-index: 18;
					}
												
						#social-btn.on {
							background-position: 0 -167px;
						}
				
				#social-btn-slot {
					background: url('../gfx/social-btn-slot.png') no-repeat 0 0;
					border: medium none;
					bottom: -28px;
					cursor:pointer;
					display: block;
					height: 10px;
					position: absolute;
					right: 70px;
					width: 30px;
					z-index: 17;
				}
				
	
	#twitter {		
		background: none repeat scroll 0 0 #E9E7E5;
		border: 3px solid #4E4943;
		top: 20px;
		font-size: 17px;
		font-weight: 100;
		line-height: 1.3em;
		padding: 5px 40px 10px 10px;
		position: absolute;
		right: 105px;
		text-align: center;
		text-shadow: 0 1px 0 #F4F4ED;
		width: 280px;
		z-index: 200;
		
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	
		#twitter #tweets ul {
			margin:2px 0 0 0;
		}
					
		#twitter #tweets ul li {
			padding:0;
		}
		
		#twitter #tweets p {
			font-size: 14px;
			font-weight: 500;
			width: 300px;
		}
	
		#twitter .right-arrow {
			border-color: #E9E7E5 transparent transparent;
			border-style: solid;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-left: 15px solid #E9E7E5;
			display: none;
			top: 29px;
			left: 324px;
			position: absolute;
			width: 0;
		}
		
		#twitter .right-arrow-border {
			border-bottom: 13px solid transparent;
			border-color: transparent transparent transparent #4E4943;
			border-left: 13px solid #4E4943;
			border-style: solid;
			border-top: 13px solid transparent;
			display: none;
			top: 26px;
			left: 330px;
			position: absolute;
			width: 0;
		}
		
		div#twitterbird {
			bottom: 35px;
			position: absolute;
			right: 30px;
			z-index: 199;
		}
		
			img#lemonbird {
				width: 58px;
				height: 85px;
			}
			
			img#lemonbirdwing {
				position: absolute;
				right: -9px;
				top: 61px;
			}


	/* --------------------------------------------------------------------------------
		NAVIGATION
	-------------------------------------------------------------------------------- */
	
	ul#dropnavSections {
		display: inline-block;
		overflow: hidden;
		margin: 11px;
	}

		ul#dropnavSections li {
			border-left: 1px dotted #9A9784;
			float: left;
			padding: 0 26px; /* or width: 110px; */
			text-align: center;	
		}
		
			ul#dropnavSections li:first-child {
				border-left: none;
			}
	
			ul#dropnavSections li a {				
				font-size: 15px;
				text-shadow: 0 1px 0 #3D342C, 0 0 3px #2D2824;
				font-weight: 500;
			}
	
/* --------------------------------------------------------------------------------
	HEADER
-------------------------------------------------------------------------------- */

	#wrapper header {
		background: url('../gfx/vignette-top.png') no-repeat 0 1px, transparent 0 0 no-repeat; /* use double background to hide from IE */
		background-size: 100% 100%;
		-moz-background-size: 100% 100%; /* for older versions of FF */
		-webkit-background-size: 100% 100%; /* for older versions of Saf / Chrome */
		float: left;
		height: 340px;
		width: 100%;
		z-index: 1;
	}
		
		h1, h2 {
			left: 66px;
			position: absolute;
			text-shadow: 0 1px 0px #F2D04A;
		}
		
		h1 {
			font-size: 32px;
			font-weight: 900;
			letter-spacing: 1px;
			line-height: 1.2em;
			position: absolute;
			text-align: left;
			top: 61px;
			width: 404px;
		}
		
		h2 {
			display: none;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.3em;
			opacity: 0;
			top: 65px;
			width: 370px;
		}

			h1 span, h2 span {
				cursor: pointer;
				font-weight: 500;
				margin-left: 5px;
				text-shadow: 0 1px 0 #FFED7A, 0 -1px 0 #594C0A;
			}
				
			h2 span {
				margin: 0 5px 0 -18px;
			}
			
			h2 small {
				font-size: 13px;
			}
			
		#lemon-logo {
			background: url('../gfx/lemon-logo-sprite.png') no-repeat -18px -6px;
			width: 288px; 
			height: 124px;
			left: 590px;
			position: absolute;
			top: 110px;
			z-index: 10;
		}
		
			#lemon-logo:hover {
				background-position: -18px -181px;
				cursor: pointer;
				width: 288px;
				height: 124px;
			}
		
		#vespa {
			cursor: pointer;
			display: none;
			position: absolute;
			right: 180px;
			top: 20px;
			z-index: 13;
		}
		
			#kickstand-container {
				overflow: hidden;
				position: absolute;
				right: 288px;
				top: 238px;
				cursor: pointer;
				z-index: 30;
			}
			
				#vespa-kickstand {
					position: relative;
					margin-top: -40px;
					width: 13px;
					height: 35px;
				}
		
		
		
/* --------------------------------------------------------------------------------
	MAIN ILLUSTRATED NAVIGATION
-------------------------------------------------------------------------------- */
	
	#headernav {
		clear: left;
		float: left;
		min-width:1010px;
		margin-bottom: 130px;
		width: 100%;
	}
	
		#headernav .bgnav {
			background: url('../gfx/bg-drip.png') no-repeat scroll 0 bottom transparent;
			height: 440px;
		}
	
	#headernav ul {
		/* border-top: 1px dashed #C8A946; */
	}
	
		#headernav ul li {
			border-right: 3px dashed #E0A318;
			float: left;
			overflow: hidden;
			position: relative;
			width: 240px;
			padding-top: 0;
		}
		
		#headernav a {
			display: block;
			height: 290px; /* needed as images are positioned relatively */
			text-decoration: none;
		}
		
		#headernav a h3 {
			display: block;
			font-size: 19px;
			font-weight: bold;
			margin-top: 0;
			text-align: center;
			text-shadow: 0 1px 0 #EFDC60;
			text-transform: uppercase;
			width: 240px;
		}
		
		#headernav ul img {
			display: block;
			position: absolute;
		}
		
		/* "WORK" --------------------------- */
		
		#headernav #nav-work {
			border-left: 3px dashed #E0A318;
		}
		
			#headernav #knife { left: 37px; top: 209px; width: 172px; height: 34px;}	
			#headernav #choppingboard { left: 18px; top: 143px; width: 206px; height: 131px;}
		
		/* "CLIENTS" ------------------------ */
		
		#headernav #nav-clients {
			
		}
		
			
			#headernav #tree {
				/* display: block; */
				/* float: left; */
				/* tree rotation origin in middle bottom */
				-webkit-transform-origin: 50% 100%;
			    -moz-transform-origin: 50% 100%;
			    -ms-transform-origin: 50% 100%;
			    -o-transform-origin: 50% 100%;
			    transform-origin: 50% 100%;

				left: 27px;
				top: 53px;
				
				width: 180px;
				height: 223px;
			}
			
			#headernav #leaf1 { left: 67px; top: 170px; }
			#headernav #leaf2 { left: 146px; top: 170px; }
		
		/* "ABOUT" ------------------------- */
		
		#headernav #nav-about {
			
		}

			#headernav #nav-about img {
				display: none;
			}
			
			#headernav img#lemon-simon { left: 78px; top: 148px; z-index: 10; }
			#headernav img#lemon-knut { left: 78px; top: 155px; z-index: 20; }
			#headernav img#lemon-gentlemon { display: block; left: 78px; top: 133px; z-index: 30; }
			#headernav img#lemon-geir { left: 78px; top: 148px; z-index: 25; }
			#headernav img#lemon-roald { left: 78px; top: 148px; z-index: 15; }
		
		/* "CONTACT" ------------------------ */
		
		#headernav #nav-contact {
			width: 243px;
		}
		
			#headernav #phone { left: 64px; top: 53px; width: 112px; height: 225px;}
			#headernav #receiver { left: 141px; top: 128px; width: 114px; height: 149px;}
						
				
			
/* --------------------------------------------------------------------------------
	SECTIONS
	********
-------------------------------------------------------------------------------- */
		
	/* General */
	
	section {
		clear: left;
		float: left;
		margin-bottom: 180px;
		position: relative;
		width: 100%;
	}
	
	/* --------------------------------------------------------------------------------
		1) WORK
	-----------------------------------------------------------------------------------
	-------------------------------------------------------------------------------- */
	
	section#work {
		background: url("../gfx/bg-dividerfade-repeat.png") repeat-x scroll center bottom transparent;
		/* border-bottom: 4px dashed #EEEAE2; */
		height: 693px;
	}
	
		section#work div.content {
			height: 435px;
			width: 980px;
			margin: 0 auto;
			overflow: visible !important;
			position: relative;
		}
	
		/* -----------------------------------------------------------------
			Outer slideshow
		----------------------------------------------------------------- */
	
		section#work .prev, section#work .next {
			background: url(../gfx/btn-sprite-prev-next.png) no-repeat 0 0 transparent;
			border: none;
			height: 60px;
			left: 0;
			overflow: hidden;
			position: absolute;
			padding: 0;
			text-indent: -9999px;
			top: 145px;
			width: 45px;
		}
		
		section#work .next {
			background-position: -60px 0;
			left: auto;
			right: 0;
		}
		
		section#work .next:hover,
		section#work .next:focus {
			background-position: -60px -60px;
			cursor: pointer;
		}
		
		section#work .next:active {
			background-position: -60px -120px;
		}
		
		section#work .prev:hover,
		section#work .prev:focus {
			background-position: 0 -60px;
			cursor: pointer;
		}
		
		section#work .prev:active {
			background-position: 0 -120px;
		}
		
		section#work div.cycle-slideshow {
			float: left;
			width: 860px;
			height: 500px;
			margin-left: 60px;
			overflow: hidden;
			position: relative;
		}
		
			section#work article {
				display: none;
				height: 450px;
				margin-left: 15px;
				width: 920px;
			}
			
				section#work article h4 {
					border-bottom: 1px dotted #928C77;
					font-size: 18px;
					margin: 5px 0 10px;
					padding-bottom: 5px;
					width: 220px;
				}
				
				section#work article h5 {
					display: block;
					font-size: 15px;
					font-weight: bold;
					margin: 0 0 10px;
					text-transform: uppercase;
				}
			
				section#work article p {
					font-size: 15px;
					line-height: 1.5em;
					margin-bottom: 20px;
					width: 225px;
				}
				
				section#work article a {
					border-bottom: 1px dotted #554E31;
					font-weight: bold;
					font-size: 16px;
					font-weight: 500;
					line-height: 1.5em;
				}
				
				section#work article a:hover,
				section#work article a:focus {
					border-bottom-color: #F5D10F;
				}
				
				/* -----------------------------------------------------------------
					Inner (Project detail) slideshow
				----------------------------------------------------------------- */
				
				section#work div.main-image {
					float: right;
					height: 354px;
					margin-right: 85px;
					position: relative;
					width:591px;
				}
				
					.large-frame {
						background: url("../gfx/work-frame.png") no-repeat scroll 0 0 transparent;
						position: absolute;
						z-index: 50;
					}
						
						.large-frame-top {background-position: center top; height: 31px; left: 0; top: 0; width: 591px; }
						.large-frame-left { background-position: left center; height: 294px; left: 0; top: 31px; width: 31px;}
						.large-frame-right { background-position: right center; height: 294px; right: 0; top: 31px; width: 31px;}
						.large-frame-bottom { background-position: center bottom; bottom: 0; height: 29px; width: 591px;}
						
					section#work div.detail-slideshow {
						height: 304px;
						left: 25px;
						margin: 0;
						overflow: hidden;
						padding: 0;
						top: 26px;
						width: 540px;
						z-index: 0;
					}
					
						.main-image button {
							display: none;
							height: 46px;
							margin: 0 !important;
							position: absolute;
							top: 232px;
							width: 44px;
							z-index: 15;
						}
					
							button.detail-prev {
								background: url(../gfx/btn-sprite-prev-next-detail.png) no-repeat 0 0 transparent;
								left:5px;
								opacity: 0;
							}
							
								button.detail-prev:hover,
								button.detail-prev:focus {
									background-position: 0 -60px;
								}
								
								button.detail-prev:active {
									background-position: -1px -120px;
								}
							
							.main-image button.detail-zoom {
								background: url("../gfx/btn-sprite-zoom-detail.png") no-repeat scroll 0 0 transparent;
								height: 47px;
								left: 274px;
								opacity: 0;
								top: 232px;
								width: 44px;
							}
								
								button.detail-zoom:hover,
								button.detail-zoom:focus {
									background-position: 0 -60px;
								}
								
								button.detail-zoom:active {
									background-position: 0px -120px;
								}	

							
							button.detail-next {
								background: url(../gfx/btn-sprite-prev-next-detail.png) no-repeat -50px 0 transparent;
								right: 10px;
								opacity: 0;
							}
								
								button.detail-next:hover,
								button.detail-next:focus {
									background-position: -50px -60px;
								}
								
								button.detail-next:active {
									background-position: -50px -120px;
								}
	
		
		/* Work toggle button + related projects btn + link btn ------------------------- */
		
		section#work button {
			text-indent: -9999px;
		}
			
			section#work label {
				white-space: nowrap;
				font-size: 16px;
				font-weight: 500;
				line-height: 1.5em;
				width: auto;
			}
		
		#work-toggle-btn {
			bottom: 5px;
			height: 36px;
			left: 324px;
			position: absolute;
			z-index: 10;
		}
		
			#work-toggle-btn button {
				background: url(../gfx/btn-sprite-work-toggle.png) no-repeat -1px 0 transparent;
				border: none;
				float: left;
				height: 36px;
				margin: 0;
				outline: none;
				overflow: hidden;
				padding: 0;
				width: 42px;
			}
			
			button#project-single-btn {
				margin-left: 10px;
			}
			
			button#project-single-btn:hover,
			button#project-single-btn:focus {
				background-position: -1px -60px;
				-moz-outline-style: none; 
			}
			
			button#project-single-btn:active,
			button#project-single-btn.work-toggle-on,
			button#project-single-btn.work-toggle-on:hover,
			button#project-single-btn.work-toggle-on:focus {
				background-position: -1px -120px;
				cursor: default;
				-moz-outline-style: none; 
			}
				
				#project-single-label {
					float: left;
					margin-top: 4px;
				}
			
			button#project-thumbs-btn {
				background-position: -42px 0;
			}
			button#project-thumbs-btn:hover,
			button#project-thumbs-btn:focus {
				background-position: -42px -60px;
			}
			
			button#project-thumbs-btn:active,
			button#project-thumbs-btn.work-toggle-on,
			button#project-thumbs-btn.work-toggle-on:hover,
			button#project-thumbs-btn.work-toggle-on:focus {
				background-position: -42px -120px;
				cursor: default;
			}
				
				#project-thumbs-label {
					float: left;
					margin: 4px 0 0 10px;
				}
			
		.project-links {
			float: left;
			width: 170px;
		}
		
			/* Related projects bubble ------------------------- */
			
			.related-projects-bubble {
				display: none;
				left: -6px;
				position: absolute;
			}
				
				.related-projects-bubble ul {
					background: none repeat scroll 0 0 padding-box #E9E7E5;
					border: 1px solid #BAB5B0;
					bottom: 0;
					left: 0;
					overflow: hidden;
					padding: 10px 15px;
					position: absolute;
					z-index: 10;
					
					-webkit-border-radius: 10px 10px 10px 0px;
					-moz-border-radius: 10px 10px 10px 0px;
					border-radius: 10px 10px 10px 0px;
					
					-webkit-box-shadow: 0 1px 0 #FFFFFF inset;	    
					-moz-box-shadow: 0 1px 0 #FFFFFF inset;
					box-shadow: 0 1px 0 #FFFFFF inset;
				}
				
					.related-projects-bubble ul li {
						clear: left;
						display: block;
						float: left;
						font-size: 16px;
						line-height: 1.8em;
						text-align: left;
						text-transform: uppercase;
						white-space: nowrap; /* That's the bastard! Fixes li wrapping after every word */
					}
					
						.related-projects-bubble ul li:hover {
							cursor: pointer;
						}
				
				.related-projects-bubble .down-arrow {					
					border-color: #E9E7E5 transparent transparent;
					border-style: solid;
					border-width: 20px;
					bottom: -39px;
					height: 0;
					left: 0px;
					margin: 0;
					position: absolute;
					width: 0;
					z-index: 51;
				}
				
				.related-projects-bubble .down-arrow-border {
					border-color: #BAB5B0 transparent transparent;
					border-style: solid;
					border-width: 20px;
					bottom: -40px;
					height: 0;
					left: 0px;
					margin: 0;
					position: absolute;
					width: 0;
					z-index: 50;
				}
		
			/* Related projects & Project website link buttons ------------------------- */

			.work-related-projects-btn {
				background: url("../gfx/btn-sprite-work-related-projects.png") no-repeat scroll -1px 0 transparent;
				cursor: default;
				float: left;
				height: 31px;
				width: 29px;
			}
			
				.work-related-projects-btn:hover,
				.work-related-projects-btn:focus {
					background-position: -1px -60px;
				}
				
				.work-related-projects-btn:active {
					background-position: -1px -120px;
				}
				
			section#work .work-related-projects-label {
				cursor: default;
				float: left;
				font-size: 14px;
				margin: 5px 0 0 10px;
				width: 130px;
			}
			
			a.work-link-btn {
				background: url("../gfx/btn-sprite-work-link.png") no-repeat scroll -1px 0 transparent;
				border-bottom: none !important;
				clear: left;
				float: left;
				height: 31px;
				margin-top: 5px;
				text-indent: -9999px;
				width: 29px;
			}
			
				a.work-link-btn:hover,
				a.work-link-btn:focus {
					background-position: -1px -60px;
				}
				
				a.work-link-btn:active {
					background-position: -1px -120px;
				}
			
			section#work a.work-link-label {
				border-bottom: none;
				float: left;
				font-size: 14px;
				margin: 9px 0 0 10px;
				width: 130px;
			}
			
		/* Project Carousel - Thumb grid Navigation buttons ---------------------------- */
		
		section#work div.content button.prev-thumbset,
		section#work div.content button.next-thumbset {
			background: url(../gfx/btn-sprite-prev-next.png) no-repeat 0 0 transparent;
			border: none;
			float: left;
			height: 60px;
			margin: 145px 0 0 0;
			overflow: hidden;
			padding: 0;
			text-indent: -9999px;
			width: 60px;
		}
		
			section#work div.content button.prev-thumbset {
				clear: left;
				display: none;
				left: 0;
				margin: 0;
				position: absolute;
				top: 145px;
			}
			
			section#work div.content button.prev-thumbset:hover,
			section#work div.content button.prev-thumbset:focus {
				background-position: 0 -60px;
				cursor: pointer;
			}
			
			section#work div.content button.prev-thumbset:active {
				background-position: 0 -120px;
			}
			
			section#work div.content button.next-thumbset {
				background-position: -60px 0;
				display: none;
				margin: 0;
				position: absolute;
				right: -15px;
				top: 145px;
			}
			
			section#work div.content button.next-thumbset:hover,
			section#work div.content button.next-thumbset:focus {
				background-position: -60px -60px;
				cursor: pointer;
			}
			
			section#work div.content button.next-thumbset:active {
				background-position: -60px -120px;
			}
			
			section#work div.content button.prev-thumbset.disabled,
			section#work div.content button.prev-thumbset.disabled:hover,
			section#work div.content button.prev-thumbset.disabled:active,
			section#work div.content button.prev-thumbset.disabled:focus {
				background: url(../gfx/btn-sprite-prev-next.png) no-repeat 0 -180px transparent;
				cursor: default;
			}
			
			section#work div.content button.next-thumbset.disabled,
			section#work div.content button.next-thumbset.disabled:hover,
			section#work div.content button.next-thumbset.disabled:active,
			section#work div.content button.next-thumbset.disabled:focus {
				background: url(../gfx/btn-sprite-prev-next.png) no-repeat -60px -180px transparent;
				cursor: default;
			}
		
		/* Project Carousel - Thumb grid thumbnail columns ---------------------------- */
		
		div#projectthumbs {
			visibility: hidden;
			height:  360px !important;
			left: 60px !important;
			margin: 0px 0 0 0;
			overflow: hidden;
			padding-left: 9px;
			position: absolute !important;
			width: 852px !important;
		}
			
			/* 3 row single column */
			div#projectthumbs li.thumb-column {
				float: left;
				overflow: hidden;
				height: 350px !important;
				width: 213px !important;
			}
		
				div#projectthumbs .projectthumb {
					background: transparent;clear: left;
					cursor: pointer;
					float: left;
					
					height: 100px;
					margin: 0 20px 20px 0;
					overflow: hidden;
					position: relative;
					width: 193px;
					
					-webkit-border-radius: 6px;
					-moz-border-radius: 6px;
			        border-radius: 6px;
					
					-webkit-box-shadow: 0 1px 2px #4A463C, 0 3px 5px #A4A4A4, 0 1px 0 rgba(0, 0, 0, 0.3) inset,0 2px 0 rgba(255, 255, 255, 0.3) inset;
					-moz-box-shadow: 0 1px 2px #4A463C, 0 3px 5px #A4A4A4, 0 1px 0 rgba(0, 0, 0, 0.3) inset,0 2px 0 rgba(255, 255, 255, 0.3) inset;
					box-shadow: 0 1px 2px #4A463C, 0 3px 5px #A4A4A4, 0 1px 0 rgba(0, 0, 0, 0.3) inset,0 2px 0 rgba(255, 255, 255, 0.3) inset;
				}
				
					div#projectthumbs .projectthumb h6 {
						background: #595654;
						background: rgb(71, 68, 65) transparent;
						background: rgba(71, 68, 65, 0.7);
	
						display: block;
						font-size: 16px;
						padding: 31px 0 51px;
						position: absolute;
						text-align: center;
						text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
						top: 0;
						width: 193px;
						
						-webkit-border-radius: 8px; 
		     			-moz-border-radius: 8px;
						border-radius: 8px; 
						
						-webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
						-moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
						box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
					}
						
					@media screen and (-webkit-min-device-pixel-ratio:0) {
		     			/* webkit only */
		     			div#projectthumbs ul li div.projectthumb h6 {
		     				/* font-size: 15px; */
		     			}
					}
						
					div#projectthumbs ul li div p {
						bottom: 20px;
						display: block;
						font-size: 10px;
						font-weight: bold;
						overflow: hidden;
						padding: 7px 0;
						position: absolute;
						text-align: center;
						text-transform: uppercase;
						width: 193px;
					}
						
						/* Categories - bottom right coloured squares */
						div#projectthumbs div.categories {
							position: absolute;
							bottom: 4px;
							right: 0;
							z-index: 3010;
						}
						
						/* global colours for project categories - THIS IS THE ORDER THEY SHOULD APPEAR IN (reverse alphabetical category names in the html) */
						.digital { background: #c7e43f; /* green */ }
						.print { background: #f5d22f; /* yellow */ }
						.product { background: #e4893f; /* orange */ }
						.strategy { background: #e4563f; /* red */ }
						
						div#projectthumbs div.category-dot {
							display: block;
							float: right;
							margin-right: 4px;
							padding-top: 0;
							position: relative;
							width: 8px;
							height: 8px;
							
							-webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset,0 1px 0 rgba(255, 255, 255, 0.2) inset,0 1px 1px rgba(0,0,0,0.3);
							-moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset,0 1px 0 rgba(255, 255, 255, 0.2) inset,0 1px 1px rgba(0,0,0,0.3);
							box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.1) inset,0 1px 0 rgba(255, 255, 255, 0.2) inset,0 1px 1px rgba(0,0,0,0.3);
							
							-webkit-border-radius: 4px; 
	     					-moz-border-radius: 4px;
					        border-radius: 4px; 
						}
						
							.projectthumb img {
								width: 193px;
								height: 100px;
								z-index: -1; /* to enable inset box-shadow on image */
								position: relative;
								
								-webkit-border-radius: 4px; 
		     					-moz-border-radius: 4px;
						        border-radius: 4px; 
							}
						
		/* End project Carousel ----------------------------*/
		
			/* Thumb categories radio buttons */
			
			section#work nav#categories-nav {
				display: none;
				position: absolute;
				top: -50px;
				width: 980px;
			}
			
				section#work nav#categories-nav ul {
					margin: 0 auto;
					overflow: hidden;
					padding-bottom: 30px;
					position: relative;
					width: 625px;
				}
			
					section#work nav#categories-nav ul li {
						border-left: 1px dotted #C9C3BE;
						float: left;
						text-align: center;
						width: 123px;
					}
					
					section#work nav#categories-nav ul li:first-child {
						border-left: none;		
					}
				
					section#work nav#categories-nav ul li a {
						font-size: 18px;
						text-transform: uppercase;
					}				
					
					nav#categories-nav ul li a {
						border-bottom: solid 2px;
					}
					
					nav#categories-nav ul li a#work-all {
						border-bottom-color: #655C52;
					}
					
					nav#categories-nav ul li a#work-digital {
						border-bottom-color: #c7e43f;
					}
					
					nav#categories-nav ul li a#work-print {
						border-bottom-color: #f5d22f;
					}
					
					nav#categories-nav ul li a#work-product {
						border-bottom-color: #e4893f;
					}
					
					nav#categories-nav ul li a#work-strategy {
						border-bottom-color: #e4563f;
					}
	
		#gentlemon {
			bottom: -70px;
			height: 146px;
			width: 80px;
			position: absolute;
			right: 10px;
			
			/* rotation point in middle bottom */
			-webkit-transform-origin: 50% 100%;
		    -moz-transform-origin: 50% 100%;
		    -ms-transform-origin: 50% 100%;
		    -o-transform-origin: 50% 100%;
		    transform-origin: 50% 100%;
		    z-index: 50;
		}
		
			#gentlemon:hover {
				cursor: pointer;
			}
		
		#posts {
			bottom: -70px;
			left: 0px;
			position: absolute;
		}
	
	
	
	/* --------------------------------------------------------------------------------
		2) CLIENTS
	-----------------------------------------------------------------------------------	
	-------------------------------------------------------------------------------- */
	
	section#clients {
		background: url("../images/clients/lemon-tree-large-colour.png") no-repeat scroll center 360px transparent;
		height: 790px;
	}
	
		section#clients .content {
			height: auto;
			padding: 0;
			width: 920px;
		}
	
		section#clients ol {
			font-size: 22px;
			font-weight: 500;
			line-height: 2em;
		}
		
		section#clients ol#clientlist-left {
			float: left;
			margin-left: 80px;
			text-align: left;
		}
		
		section#clients ol#clientlist-right {
			float: right;
			margin-right: 80px;
			text-align: right;
		}
		
			section#clients ol li.client {
				border-top: 1px dotted #C9C3BE;
				position: relative;
			}
				
				section#clients ol li.client:first-child {
					border: none;
				}
			
				section#clients ol li.client a {
					display: block;
				}

					div.client-popup {
						display: none;
					}
				
					ol li.client ul {
						background: #E9E7E5;
						border: 1px solid #BAB5B0;
						left: 237px;
						padding: 10px 15px;
						position: absolute;
						top: 0;
						z-index: 10;
						
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
						
						-webkit-box-shadow: 0 1px 0 #FFFFFF inset;
						-moz-box-shadow: 0 1px 0 #FFFFFF inset;
						box-shadow: 0 1px 0 #FFFFFF inset;
					}
					
					.side-arrow {
						border-bottom: 21px solid transparent;
						border-color: transparent #E9E7E5 transparent transparent;
						border-right: 21px solid #E9E7E5;
						border-style: solid;
						border-top: 21px solid transparent;
						bottom: 0px;
						height: 0;
						left: 218px;
						position: absolute;
						width: 0;
						z-index: 21;
					}
					
					.side-arrow-border {
						border-bottom: 21px solid transparent;
						border-color: transparent #BAB5B0 transparent transparent;
						border-right: 21px solid #BAB5B0;
						border-style: solid;
						border-top: 21px solid transparent;
						bottom: 0;
						height: 0;
						left: 217px;
						position: absolute;
						width: 0;
						z-index: 20;
					}
					
						ol li.client ul li {
							clear: left;
							display: block;
							float: left;
							font-size: 16px;
							line-height: 1.8em;
							text-align: left;
							text-transform: uppercase;
							white-space: nowrap; /* That's the bastard! Fixes li wrapping after every word */
						}
						
						ol li.client ul li:hover {
							cursor: pointer;
						}
						
						.client-site {
							border-top: 1px dotted #BAB5B0;
							margin-top: 6px;
							padding-top: 3px;
						}
						
							/* reformat popup bubble for right column */
							ol#clientlist-right li.client div ul {
								left: inherit;
								right: 243px;
							}
							
							ol#clientlist-right .side-arrow {
								border-left: 21px solid #E9E7E5;
								border-right: none;
								left: -15px;
							}
							
							ol#clientlist-right .side-arrow-border {
								border-left: 21px solid #BAB5B0;
								border-right: none;
								left: -14px;
							}
							
							ol#clientlist-right li.client ul li {
								text-align: right;
							}
						
	
	/* --------------------------------------------------------------------------------
		3) ABOUT US
	-----------------------------------------------------------------------------------
	-------------------------------------------------------------------------------- */
	
	section#about {
		
	}
	
	section#about div.content {
		background: url(../gfx/bg-diagstripe-repeat.png) repeat 0 0 transparent;
		border-bottom: 1px solid #fff;
		border-top: 1px solid #B7B2AD;
		padding: 20px 0 0 20px;
		overflow: hidden;
		width: 100%;
		
		-webkit-box-shadow: -10px 0 30px #9D9B97 inset;
		-moz-box-shadow: -10px 0 30px #9D9B97 inset;
		box-shadow: -10px 0 30px #9D9B97 inset;
	}
	
	/* ABOUT Navigation ------------------------------------------------------------ */
	
	nav#aboutnav {
		margin: 0 auto 40px;
		overflow: hidden;
		position: relative;
		text-align: center;
		width: 980px;
	}
	
		nav#aboutnav ul {
			display: inline-block;
			overflow: hidden;
		}
		
			nav#aboutnav ul li {				
				border-left: 1px dotted #C9C3BE;				
				float: left;
				padding: 0 23px;
				text-align: center;
			}
			
			nav#aboutnav ul li:first-child {
				border-left: none;			
			}
		
			nav#aboutnav ul li a {
				font-size: 18px;
				text-transform: uppercase;
			}
			
	/* ABOUT Generic styles ------------------------------------------------------------ */
	
		section#about p,
		section#about li {
			font-size: 18px;
			line-height: 1.4em;
		}
		
		/* 1/5 - The Company ------------------------------------------------------------ */
		
		#thecompany {
			margin: 0 auto;
			padding: 0 20px 20px 0;
			overflow: hidden;
			width: 960px;			
		}
		
			#thecompany article {
				background: #fff;
				border: 1px solid #E0E0E0;
				border-bottom: 2px solid #E0E0E0;
				overflow: hidden;
				padding: 20px;
				width: 900px;
				
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
			    border-radius: 5px; 
				
				-webkit-box-shadow: 0 0 6px #E3E3E3;
				-moz-box-shadow: 0 0 6px #E3E3E3;
				box-shadow: 0 0 6px #E3E3E3;
			}
			
				#thecompany article h4 {
					border-bottom: 1px dotted #B0A399;
					font-size: 22px;
					font-weight: 500;
					margin: 20px;
					padding-bottom: 20px;
				}
				
				#thecompany article p {
					float: left;
					margin: 0 20px;
					width: 260px;
				}
				
		/* 2/5 - Our Services ------------------------------------------------------------ */
		
		#ourservices {
			margin: 0 auto;
			padding: 0 20px 20px 0;
			overflow: hidden;
			width: 960px;			
		}
		
			#ourservices article {
				background: #fff;
				border: 1px solid #E0E0E0;
				border-bottom: 2px solid #E0E0E0;
				overflow: hidden;
				padding: 20px;
				width: 900px;
					
				-webkit-border-radius: 5px; 
				-moz-border-radius: 5px; 
			    border-radius: 5px; 
				
				-webkit-box-shadow: 0 0 6px #E3E3E3;
				-moz-box-shadow: 0 0 6px #E3E3E3;
				box-shadow: 0 0 6px #E3E3E3;
			}
			
				#ourservices article h4 {
					border-bottom: 1px dotted #B0A399;
					font-size: 22px;
					font-weight: 500;
					margin: 20px;
					padding-bottom: 20px;
				}
				
				#ourservices article p {
					float: left;
					margin: 0 20px;
					width: 260px;
				}
				
		/* 3/5 - Employees ------------------------------------------------------------ */
		
		#employees {
			margin: 0 auto;
			width: 980px;
		}
		
		.employee {
			float: left;
			height: 258px;
			margin: 0 0 20px 20px;
			position: relative;
			width: 218px;
			/*-webkit-perspective: 600;*/
		}
		
		.employee .card {
			background: #fff;
			border: 1px solid #E0E0E0;
			border-bottom: 2px solid #E0E0E0;
			float: none;
			height: 238px;
			left: 0;
			padding: 10px;
			position: absolute;
			top: 0;
			width: 198px;
			
			-webkit-border-radius: 5px; 
			-moz-border-radius: 5px;
		    border-radius: 5px;		    
		    
		    -webkit-box-shadow: 0 0 6px #E3E3E3;
    		-moz-box-shadow: 0 0 6px #E3E3E3;  
         	box-shadow: 0 0 6px #E3E3E3;
		}
		
		.employee .card.front {
			background: url(../gfx/employee_bg.png) no-repeat scroll 9px 70px #fff;
			z-index: 91;
			
         	/*-webkit-transform: rotateY(0deg);*/
			/*-webkit-transform-style: preserve-3d;*/
			/*-webkit-backface-visibility: hidden;*/
			
			-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}
			
			.employee.flip .card.front {
				z-index: 90;
				/*-webkit-transform: rotateY(180deg);*/
			}
			
			.employee .card.front img {
				cursor: pointer;
				position: absolute;
				bottom: 130px;
				left: 70px;
			}
		
		.employee .card.back {
			z-index: 80;
			
			/*-webkit-transform: rotateY(-180deg);*/
			/*-webkit-transform-style: preserve-3d;*/
			/*-webkit-backface-visibility: hidden;*/
			/* -- transition is the magic sauce for animation -- */
			-o-transition: all .4s ease-in-out;
			-ms-transition: all .4s ease-in-out;
			-moz-transition: all .4s ease-in-out;
			-webkit-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
		}
		
			.employee.flip .card.back {
				/*-webkit-transform: rotateX(0deg);*/
			}
			
			.employee .card.back img {
				cursor: pointer;
				width: 200px;
				height: 238px;
			}
		
		.employee.leftcol {
			margin-left: 0;
		}
		
			.employee.nopic img{
				margin-top: 46px;
			}
			
			
			.employee h4, .employee h5 {
				position: absolute;
				text-align: center;
				width: 200px;
			}
		
			.employee h4 {
				font-size: 16px;
				margin: 0;
				padding: 6px 0 5px;
				top: 140px;	
			}
			
				/* dotted line divider pseudo element content */
				.employee h4:after {
					content:"";
					border-bottom: 1px dotted #D5D1CC;
					display: block;
					margin: 7px auto 0;
					width: 40px;
				}
				
			.employee h5 {
				display: block;
				font-size: 15px;
				font-weight: bold;
				margin: 0 0 10px;
				padding: 5px 0;
				text-align: center;
				text-transform: uppercase;
				top: 179px;
			}
			
			/* phone number */
			.employee p {
				bottom: 11px;
				display: none;
				font-size: 20px;
				left: 60px;
				position: absolute;
			}
			
			a.btn-email {
				background: url("../gfx/btn-sprite-email.png") no-repeat scroll 0 0 transparent;
				bottom: 13px;
				height: 21px;
				left: 89px;
				position: absolute;
				width: 16px;
			}
				.btn-email:hover {
					background-position: 0 -21px;
				}
			
			div.btn-phone {
				background: url("../gfx/btn-sprite-phone.png") no-repeat scroll 0 0 transparent;
				bottom: 13px;
				height: 21px;
				position: absolute;
				right: 88px;
				width: 13px;
			}
				div.btn-phone:hover {
					background-position: 0 -21px;
					cursor: pointer;
				}
				
			/* Individual employee tweaks */
			
			#roald .front img {
				bottom: 127px;
				left: 58px;
			}
			
			#lars .front img {
				bottom: 123px;
				left: 63px;
			}
			
			#birgitte .front img {
				bottom: 115px;
				left: 73px;
			}
			
			#chettle .front img {
				bottom: 121px;
				left: 73px;
			}
			
			#katarina .front img {
				bottom: 129px;
				left: 74px;
			}
			
		/* 4/5 - Jobs -------------------------------------------------------------------- */	
		
		#jobs {
			margin: 0 auto;
			padding: 0 20px 20px 0;
			overflow: hidden;
			width: 960px;			
		}
		
			#jobs article {
				background: #fff;
				border: 1px solid #E0E0E0;
				margin: 0 20px 20px 0;
				overflow: hidden;
				padding: 20px;
				width: 900px;
					
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
			    border-radius: 5px; 
				
				-webkit-box-shadow: 0 0 6px #E3E3E3;
				-moz-box-shadow: 0 0 6px #E3E3E3;
				box-shadow: 0 0 6px #E3E3E3;
			}
		
			#jobs article h4 {
				border-bottom: 1px dotted #B0A399;
				font-size: 22px;
				font-weight: 500;
				margin: 20px;
				padding-bottom: 20px;
			}
			
			#jobs article div.column {
				float: left;
				margin: 0 10px 20px 25px;
				padding: 0;
				width: 410px;
			}
			
			#jobs article div#col-1 {
				
			}
			
			#jobs article div#col-2 {
			
			}
			
				#jobs article h5 {
					font-size: 19px;
					margin-bottom: 20px;
				}
				
				#jobs article p,				
				#jobs article li {
					margin-bottom: 20px;
				}
				
				#jobs article li {
					list-style: disc inside;
				}
				
				#jobs article .column a {
					border-bottom: 1px dotted;
					clear: left;
					float: left;
					font-size: 19px;
					font-weight: bold;
					margin-bottom: 20px;
					padding-bottom: 2px;
				}

		
		/* 5/5 - Working here slideshow -------------------------------------------------------------------- */
		
		#workinghere {
			position: relative;
		}
		
		.about-slideshow {
			clear: both;
			height: 520px;
			margin: 0 auto;
			overflow: visible;
			padding: 10px 40px 0 0;
			width: 840px;
		}
		
			/* Photo Slideshow ------------------------------------ */
			.about-slideshow .prev,
			.about-slideshow .next {
				background: url("../gfx/btn-sprite-prev-next.png") no-repeat scroll 0 0 transparent;
				cursor: pointer;
				display: block;
				height: 60px;
				position: absolute;
				top: 225px;
				width: 45px;
				z-index: 101;
			}
			
			.about-slideshow .prev {
				left: -70px;
			}
			
			.about-slideshow .prev:hover,
			.about-slideshow .prev:focus {
				background-position: 0 -60px;
			}
			
			.about-slideshow .prev:active {
				background-position: 0 -120px;
			}
			
			.about-slideshow .next {
				background-position: -60px 0;
				right: -30px;
			}
			
			.about-slideshow .next:hover,
			.about-slideshow .next:focus {
				background-position: -60px -60px;
			}
			
			.about-slideshow .next:active {
				background-position: -60px -120px;
			}
			
			.about-slideshow div.cycle-slideshow {
				border: 10px solid #fff;
				margin: 0 auto;
				width: 820px;
				height: 450px;
				overflow: hidden;
				position: relative;
				
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
			    border-radius: 5px;
				
				-webkit-box-shadow: 0 0 6px #B7B2AC;
				-moz-box-shadow: 0 0 6px #B7B2AC;  
	         	box-shadow: 0 0 6px #B7B2AC;
	        }
			
				.about-slideshow div.cycle-slideshow div.slide {
					width: 820px;
					height: 450px;
					display: block;
				}
			
			.about-slideshow .pager {
				position: relative;
				margin: 0 auto;
				margin-top: 20px;
				width: 150px;
				z-index: 180;
			}
			
			.about-slideshow .pager a {
				background-image: url(../gfx/pagination.png);
				background-position: 0 0;
				display: block;
				float: left;
				margin-left: 5px;
				outline: none;
				overflow: hidden;
				padding-top: 12px;
				width: 12px; height: 0;
			}
		
			.about-slideshow .pager a:hover,
			.about-slideshow .pager a:focus {
				background-position: 0 -12px;
			}
			
			.about-slideshow .pager a.activeSlide {
				background-position: 0 -24px;
			}
			
			.about-slideshow div.caption {
				z-index:500;
				position:absolute;
				bottom:-140px;
				left:0;
				opacity: 0.9;
				padding: 20px;
				background: #6C6964;
				width: 820px;	
			}
				
				.about-slideshow div.caption p {
					font-size: 14px;
					line-height: 1.2em;
					margin: 0;
					padding: 0;
					text-align: left;
				}
		
		
		
		
	/* --------------------------------------------------------------------------------
		4) CONTACT
	-----------------------------------------------------------------------------------
	-------------------------------------------------------------------------------- */
	
	section#contact {
		background: url("../gfx/bg-contact-repeat.png") repeat-x 0 -200px transparent;
		margin-bottom: 0;
		position: relative;
	}
	
		section#contact div.content {
			height: 1060px;
		}
		
		section#contact div.content h4 {
			bottom: 655px;
			font-size: 38px;
			left: 642px;
			line-height: 1.1em;
			position: absolute;
			text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px 0 rgba(3, 28, 37, 0.7);
			width: 300px;
			z-index: 21;
		}
		
	
		/* FORM STUFF */
		
		form {			
			background: none repeat scroll 0 0 #FFFFFF;
			/* border: 1px solid #84817B; */
			bottom: 200px;
			margin: 220px auto 0;
			padding: 30px 5px 20px;
			position: absolute;
			right: 0;
			width: 370px;
			z-index: 100;
			
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
		    border-radius: 5px;
		    
		    -webkit-box-shadow: 0 2px 3px #746F5D;
    		-moz-box-shadow: 0 2px 3px #746F5D;
         	box-shadow: 0 2px 3px #746F5D; 
		}
		
			form p {
				display: none;
			}
		
		fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}
		
		input, textarea {
			font-size: 16px;
			outline:none;
			
			-webkit-border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			border-radius: 5px 5px 5px 5px;
			
			-webkit-box-shadow: 0 1px 0 #D3CEC6 inset, 0 0 20px #E1DDD6 inset;
			-moz-box-shadow: 0 1px 0 #D3CEC6 inset, 0 0 20px #E1DDD6 inset;
			box-shadow: 0 1px 0 #D3CEC6 inset, 0 0 20px #E1DDD6 inset;
		}
		
		input {
			background: none repeat scroll 0 0 #EEEEEE;
			border: medium none;		
			float: right;
			
			height: 35px;
			margin: 0 20px 20px 0;
			padding: 5px 20px 0;
			width: 290px;
		}
		
		textarea {
			border: none;
			width: 310px;
			float: right;
			height: 130px;
			padding: 12px 0 0 20px;
			margin: 0 20px 20px 0;
			background: #eee;
			resize: none;
			overflow: auto;
		}
		
		input:focus, textarea:focus {
			background: none repeat scroll 0 0 #A39F8A;
			text-shadow: 0 1px 0 #635B50;
			
			-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
			-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.4) inset;
		}
		
		input[type=submit] {
			clear: right;
			width: 150px; 
			height: 52px; 
			float: right; 
			padding: 10px 15px; 
			margin: 0 20px 0 0;
			cursor: pointer;
			
			box-shadow: 0 1px 0 #D3CEC6, 0 0 20px #EFEADF inset, 0 1px 0 #F9F9F9 inset ;
			-moz-box-shadow: 0 1px 0 #D3CEC6, 0 0 20px #EFEADF inset, 0 1px 0 #F9F9F9 inset ;
			-webkit-box-shadow: 0 1px 0 #D3CEC6, 0 0 20px #EFEADF inset, 0 1px 0 #F9F9F9 inset ;
		}
		
			input[type=submit]:hover {
				background: none repeat scroll 0 0 #999187;
				
				text-shadow: 0 1px 0 #5F5A4F;
				-webkit-box-shadow: 0 1px 0 #77746E, 0 0 20px #6A685F inset;
				-moz-box-shadow: 0 1px 0 #77746E, 0 0 20px #6A685F inset;
				box-shadow: 0 1px 0 #77746E, 0 0 20px #6A685F inset;
			}
		
		/* LEMON VIKING QUEST !!!! */

		.clouds {
			position:absolute;
		}

		#cloud1 {
			background: url("../images/misc-illustrations/cloud1.png") no-repeat 00 transparent;
			left: 620px;
			bottom: 700px;
			width: 280px;
			height: 124px;
			z-index: 7;
		}
		
		#cloud2 {
			background: url("../images/misc-illustrations/cloud2.png") no-repeat 0 0 transparent;
			left: 30px;
			bottom: 440px;
			width: 230px;
			height: 118px;
			z-index: 6;
		}
		
		#cloud3 {
			background: url("../images/misc-illustrations/cloud3.png") no-repeat 0 0 transparent;
			left: 560px;
			bottom: 955px;
			width: 135px;
			height: 69px;
			z-index: 4;
		}
		
		#cloud4 {
			background: url("../images/misc-illustrations/cloud4.png") no-repeat 0 0 transparent;
			left: 100px;
			bottom: 1130px;
			width: 154px;
			height: 68px;
			z-index: 3;
		}
		
		.vikings {
			position: absolute;
		}
				
		#vikingarrow1 {
			left: 870px;
			bottom: 490px;
			z-index: 101;
		}

		#vikingarrow2 {
			left: 700px;
			bottom: 460px;
			z-index: 102;
		}
		
		#vikingarrow3 {
			left: 510px;
			bottom: 620px;
			z-index: 103;
		}
		
		#vikingarrowblur1 {
			left: 340px;
			bottom: 570px;
			z-index: 120;
		}

		#vikingarrowblur2 {
			left: 540px;
			bottom: 320px;
			z-index: 110;
		}
		
		#vikingarrowblur3 {
			left: 880px;
			bottom: -600px;
			z-index: 115;
		}

		#vikingattacker {
			cursor: pointer;
			left: 1090px;
			top: 10px;
			z-index: 8025;
		}
		
		#vikingattacker2 {
			cursor: pointer;
			left: 1280px;
			top: 35px;
			z-index: 8026;
		}
		
		#vikingbow {
			bottom: 169px;
			left: 809px;
			z-index: 55;
		}	
		
/* --------------------------------------------------------------------------------
	FOOTER (PARALLAX HILLS)
---------------------------------------------------------------------------------*/
	
	footer {
		bottom: 0;
		clear: both;
		font-size: 13px;
		height: 1220px;
		overflow: hidden;
		position: absolute;
		min-width: 1010px;
		width: 100%;
		z-index: 0;
	}
	
		footer .content {
			bottom: 0;
			height: 200px;
			overflow: visible;
			position: absolute;
			width: 100%;
		}
		
			/* Parallax Hills */
			
			.hill,
			#slottsfjell {
				position: absolute;
			}
			
			#near-hill {
				background: url("../gfx/hill-1.png") no-repeat scroll 0 0 transparent;
				bottom: 0;
				height: 205px;
				width: 1850px;
				z-index: 300;
			}
			
			#slottsfjell {
				bottom: 146px;
				z-index: 45;
			}
			
			#arnie-btn {
				background: transparent;
				position: absolute;
				bottom: 155px;
				cursor: pointer;
				width: 87px;
				height: 95px;
				z-index: 46;
			}
			
			#lemon-arnie {
				position: absolute;
				bottom: 155px;
				z-index: 41;
			}
			
			#arnie-bubble {
				display: none;
				position: absolute;
				left: 280px;
				bottom: 250px;
				overflow: hidden;
				min-width: 300px;
				min-height: 150px;
			}
				
				#arnie-bubble p {
					background: #E9E7E5;
					border: 3px solid #4E4943;
					bottom: 20px;
					display: block;
					font-size: 16px;
					font-weight: 700;
					line-height: 1.3em;
					padding: 15px;
					position: absolute;
					left: 0;
					text-align: center;
					text-shadow: 0 1px 0 #F4F4ED;
					width: 180px;
					z-index: 49;
					text-transform: uppercase;
					
					-webkit-border-radius: 30px;
					-moz-border-radius: 30px;
					border-radius: 30px;
				}
				
				#arnie-bubble .down-arrow {					
					border-color: #EDECE3 transparent transparent;
					border-style: solid;
					border-width: 19px;
					bottom: -15px;
					height: 0;
					left: 36px;
					position: absolute;
					width: 0;
					z-index: 51;
				}
				
				#arnie-bubble .down-arrow-border {
					border-color: #4E4943 transparent transparent;
					border-style: solid;
					border-width: 20px;
					bottom: -20px;
					height: 0;
					left: 35px;
					position: absolute;
					width: 0;
					z-index: 50;
				}
			
			#mid-hill {
				background: url("../gfx/hill-2.png") no-repeat 0 0;
				bottom: 0;
				width: 2475px;
				height: 198px;
				z-index: 40;
			}
			
			#far-hill {
				background: url("../gfx/hill-3.png") no-repeat 0 0;
				bottom: 113px;
				width: 1980px;
				height: 81px;
				z-index: 30;
			}
	
	footer p#signoff {
		display: block;
		font-size: 15px;
		margin: 170px auto 0;
		padding-bottom: 3px;
		position: relative;
		text-align: center;
		text-shadow: 0 1px 0 #A2B477;
		width: 800px;
		z-index: 9999;
	}
	
		footer p#signoff a {
			border-bottom: 1px dotted #585836;
		}
		
		footer p#signoff a:hover {
			border-bottom: 1px dotted #fff;
			text-shadow: 0 1px 0 #585836;
		}