@media screen and (max-device-width: 360px){
    /* mobile - iPhone specific */
    
}

@media only screen and (device-width: 768px) {
	/* iPad specific */
	
	#headernav .bgnav {
		background: url("../gfx/bg-drip.png") no-repeat scroll 0 99.5% transparent; /* cover up gap between yellow backgrounds on ipad */
	}

}


/*
@media only screen and (device-width:768px)and (orientation:portrait) {

}
*/
/*iPad Portrait orientation styles */

/*
@media only screen and (device-width:768px)and (orientation:landscape) {

}
*/
/*iPad landscape orientation styles */