@media screen and (max-device-width: 360px){
    /* mobile - iPhone specific */
    
}

@media only screen and (device-width: 768px) {
	/* iPad specific */

}


/*
@media only screen and (device-width:768px)and (orientation:portrait) {

}
*/
/*iPad Portrait orientation styles */

/*
@media only screen and (device-width:768px)and (orientation:landscape) {

}
*/
/*iPad landscape orientation styles */