<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="{{ site.description }}" />
	<meta name="author" content="{{ site.title }}" />
	<meta name="keywords" content="{{ site.keywords }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<koken:title />

	<koken:asset file="reset.css" common="true" />
	<koken:asset file="css/kicons.css" />
	<koken:asset file="css/kshare.css" />
	<koken:settings />

</head>

<body>

	<div id="container">

		<header class="top">
			<koken:if data="settings.site_title_type" equals="text">
				<koken:if true="settings.show_tagline">
					<span class="tagline">{{ site.tagline }}</span>
				</koken:if>
				<h1><koken:link to="front" title="{{ labels.home.singular }}">{{ site.title }}</koken:link></h1>
			<koken:else>
				<koken:link to="front" title="{{ labels.home.singular }}"><img src="{{ settings.site_title_img_url }}" alt="{{ site.title }}" class="custom_logo"></koken:link>
			</koken:if>
		</header>

		<nav id="main">
			<koken:navigation />
		</nav>