/*
    HTML5 Reset :: style.css
    ----------------------------------------------------------
    We have learned much from/been inspired by/taken code where offered from:

    Eric Meyer                  :: http://meyerweb.com
    HTML5 Doctor                :: http://html5doctor.com
    and the HTML5 Boilerplate   :: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
/* we use a lot of ULs that aren't bulleted.
    don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
    gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.l-100 {
  *zoom: 1; }
  .l-100:after {
    content: "";
    display: table;
    clear: both; }

.l-header {
  *zoom: 1;
  padding: 20px;
  padding-top: 40px; }
  .l-header:after {
    content: "";
    display: table;
    clear: both; }

.l-nav-content {
  width: 100%; }

.l-content {
  padding: 0 10px;
  padding: 0 20px; }

.content {
  *zoom: 1;
  width: 100%; }
  .content:after {
    content: "";
    display: table;
    clear: both; }

.list-content {
  *zoom: 1; }
  .list-content:after {
    content: "";
    display: table;
    clear: both; }

ul, ol {
  list-style: none; }

.content {
  width: 100%; }

.grid {
  *zoom: 1;
  width: 100%; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

.grid__item {
  *zoom: 1;
  margin-bottom: 20px;
  padding: 5px;
  max-width: 100%; }
  .grid__item:after {
    content: "";
    display: table;
    clear: both; }

.grid--small .grid__item {
  margin-bottom: 5px;
  width: 50%;
  width: 33%;
  padding: 10px;
  width: 25%;
  width: 20%; }

.grid--large .grid__item {
  max-width: 100%;
  padding: 10px; }

.container-single {
  padding: 10px; }

.img-frame {
  background-color: white;
  border: 5px solid #f0f0f0;
  padding: 5px;
  margin: 0 auto;
  max-width: 1120px;
  border-width: 10px;
  padding: 10px; }

img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%; }

figcaption {
  margin-bottom: 20px;
  width: 100%;
  text-align: center; }

img.k-lazy-loading {
  background-image: url(../img/loader.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 66px 66px; }

.is-visible {
  display: block; }

.is-hidden {
  display: none; }

html {
  font-family: "futura-pt";
  font-weight: normal; }

/* Massive type */
.giga {
  font-size: 80px; }

.mega {
  font-size: 64px; }

.kilo {
  font-size: 48px; }

h1, .alpha {
  color: #333; }

h2, .beta {
  color: #333;
  display: block;
  font-family: "jubilat";
  font-weight: 400; }

h3, .gamma {
  color: #333;
  font-family: "jubilat";
  font-weight: 400;
  font-size: 32px; }

a {
  color: #0425f3; }

/* Smaller-than-body-copy sizes here. */
.heading-logo {
  color: #0425f3;
  line-height: 1;
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center; }

.heading-logo__link {
  display: block;
  text-decoration: none; }

.heading-site-description {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
  max-width: 80%;
  max-width: 70%; }
  .heading-site-description a {
    color: #b3b3b3;
    text-decoration: none; }
    .heading-site-description a:hover {
      color: #0425f3; }

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none; }

.btn {
  -webkit-appearance: none; }

.view-toggle {
  *zoom: 1;
  margin: 0 auto 20px;
  position: relative;
  width: 100px; }
  .view-toggle:after {
    content: "";
    display: table;
    clear: both; }

.btn-view {
  border: 5px solid #b3b3b3;
  float: left;
  position: relative;
  text-indent: -9999px;
  width: 45px;
  height: 45px;
    /* @include query-min(640px) {
        border-width: $pad;
        width: 90px;
        height: 90px;

        &:before {
            width: 50px;
            height: 50px;
            position: absolute;
            top: $pad;
            left: $pad;
        }
    } */ }
  .btn-view:before {
    background-image: url(../img/dp-sprite.png);
    background-image: none, url(../img/dp-sprite.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 5px; }
  .btn-view:hover, .btn-view:focus, .btn-view.is-selected {
    border-color: #0425f3; }

.btn-view--small {
        /* @include query-min(640px) {
            &:before {
                background-position: 0 -200px;
            }

            &:hover,
            &:focus,
            &.is-selected {
                &:before {
                    background-position: 0 -300px;
                }
            }
        } */ }
  .btn-view--small:before {
    background-position: -100px -200px; }
  .btn-view--small:hover:before, .btn-view--small:focus:before, .btn-view--small.is-selected:before {
    background-position: -100px -300px; }

.btn-view--large {
  margin-right: 10px;
        /* @include query-min(640px) {
            &:before {
                background-position: 0 0px;
            }

            &:hover,
            &:focus,
            &.is-selected {
                &:before {
                    background-position: 0 -100px;
                }
            }
        } */ }
  .btn-view--large:before {
    background-position: -100px 0px; }
  .btn-view--large:hover:before, .btn-view--large:focus:before, .btn-view--large.is-selected:before {
    background-position: -100px -100px; }

.list-content li {
  margin-bottom: 30px; }

.k-nav-list {
  text-align: center;
  margin-bottom: 10px; }
  .k-nav-list li {
    display: inline-block;
    margin: 0 10px;
    margin: 0 15px; }
    .k-nav-list li a {
      color: #b3b3b3;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 20px;
      font-size: 22px; }
      .k-nav-list li a:hover, .k-nav-list li a:focus {
        color: #0425f3; }
    .k-nav-list li .k-nav-current {
      border-bottom: 2px solid #0425f3;
      color: #0425f3; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: white; }
