#wrapper {
	z-index: 0;
}

ul#dropnavSections,
nav#aboutnav ul {
	/* Fixes navigation centering */
	zoom:1;
	display: inline;
}
	
.about-slideshow div.caption {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

div#projectthumbs .projectthumb h6 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2474441, endColorstr=#B2474441); /* e5 = 90% transparency. b2 = 70%*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2474441, endColorstr=#B2474441)";
	background: transparent;
}

ol#clientlist-right .side-arrow {
	left: -19px;
}

ol#clientlist-right .side-arrow-border {
	left: -18px;
}

section#contact {
	z-index: 10;
}

	form#contactus {
		/* z-index: 1000; */
	}
	
		form#contactus fieldset {
			/* z-index: 2000; */
		}

section#contact div.content {
	z-index: 150;
}

footer#footer div.content {
	z-index: 100;
}