img {
	max-width: none !important; /* fixes missing facebook and twitter lemon */
}

ul#dropnavSections li a {
	font-weight: 900; /* make museo slab thicker*/
}

.about-slideshow div.caption {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

section#work div.detail-slideshow {
	writing-mode: tb-rl; /* hack to make sure images show in cycle gallery in IE8 (forces IE8 to compute position correctly in quirks mode) */
}

div#projectthumbs .projectthumb h6 {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2474441, endColorstr=#B2474441); /* e5 = 90% transparency. b2 = 70%*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2474441, endColorstr=#B2474441)";
	background: transparent;
}

ol#clientlist-right .side-arrow {
	left: -19px;
}

ol#clientlist-right .side-arrow-border {
	left: -18px;
}