	</div> <!-- close container -->

	<footer class="main">

		<koken:if true="settings.show_copyright">
			<span class="copyright">
				{{ site.copyright }}
			</span>
		</koken:if>

		<nav>
			<koken:navigation group="footer" />
		</nav>

		<koken:if true="settings.show_social">
			<div class="social">
				<koken:if data="settings.fb_href" equals="page">
					<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				</koken:if>
				<koken:if data="settings.fb_href" equals="site">
					<div class="fb-like" data-href="{{ location.site_url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				</koken:if>
				<koken:if data="settings.fb_href" equals="fbpage">
					<div class="fb-like" data-href="{{ profile.facebook }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
				</koken:if>
				&nbsp;&nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</koken:if>

	</footer>

	<script>
	$(document).ready(function() {
		$('#mob-menu').sidr({
			name: 'sidr-left'
		});
	});
	</script>

</body>

</html>