/* FONTS ------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------*/

@font-face {
    font-family: 'ArvoRegular';
    src: url('arvo/Arvo-Regular-webfont.eot');
    src: url('arvo/Arvo-Regular-webfont.eot?iefix') format('eot'),
         url('arvo/Arvo-Regular-webfont.woff') format('woff'),
         url('arvo/Arvo-Regular-webfont.ttf') format('truetype'),
         url('arvo/Arvo-Regular-webfont.svg#webfontau9vOdrl') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoBold';
    src: url('arvo/Arvo-Bold-webfont.eot');
    src: url('arvo/Arvo-Bold-webfont.eot?iefix') format('eot'),
         url('arvo/Arvo-Bold-webfont.woff') format('woff'),
         url('arvo/Arvo-Bold-webfont.ttf') format('truetype'),
         url('arvo/Arvo-Bold-webfont.svg#webfontxi5Flt4Z') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasRegular';
    src: url('bebas/bebas-webfont.eot');
    src: url('bebas/bebas-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas/bebas-webfont.woff') format('woff'),
         url('bebas/bebas-webfont.ttf') format('truetype'),
         url('bebas/bebas-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('bebas-neue/bebasneue-webfont.eot');
    src: url('bebas-neue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas-neue/bebasneue-webfont.woff') format('woff'),
         url('bebas-neue/bebasneue-webfont.ttf') format('truetype'),
         url('bebas-neue/bebasneue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BevanRegular';
    src: url('bevan/bevan-webfont.eot');
    src: url('bevan/bevan-webfont.eot?iefix') format('eot'),
         url('bevan/bevan-webfont.woff') format('woff'),
         url('bevan/bevan-webfont.ttf') format('truetype'),
         url('bevan/bevan-webfont.svg#webfontGj8ftLjb') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FeastofFleshBBItalic';
    src: url('feast/feasfbi_-webfont.eot');
    src: url('feast/feasfbi_-webfont.eot?iefix') format('eot'),
         url('feast/feasfbi_-webfont.woff') format('woff'),
         url('feast/feasfbi_-webfont.ttf') format('truetype'),
         url('feast/feasfbi_-webfont.svg#webfontlTOOs2da') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HVDBodedoMedium';
    src: url('hvd-bodedo/HVD_Bodedo-webfont.eot');
    src: url('hvd-bodedo/HVD_Bodedo-webfont.eot?iefix') format('eot'),
         url('hvd-bodedo/HVD_Bodedo-webfont.woff') format('woff'),
         url('hvd-bodedo/HVD_Bodedo-webfont.ttf') format('truetype'),
         url('hvd-bodedo/HVD_Bodedo-webfont.svg#webfont0lIYdK3Z') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MentoneSemiBoldItalic';
    src: url('mentone/mentone-semibol-ita-webfont.eot');
    src: url('mentone/mentone-semibol-ita-webfont.eot?#iefix') format('embedded-opentype'),
         url('mentone/mentone-semibol-ita-webfont.woff') format('woff'),
         url('mentone/mentone-semibol-ita-webfont.ttf') format('truetype'),
         url('mentone/mentone-semibol-ita-webfont.svg#MentoneSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MentoneSemiBold';
    src: url('mentone/mentone-semibol-webfont.eot');
    src: url('mentone/mentone-semibol-webfont.eot?#iefix') format('embedded-opentype'),
         url('mentone/mentone-semibol-webfont.woff') format('woff'),
         url('mentone/mentone-semibol-webfont.ttf') format('truetype'),
         url('mentone/mentone-semibol-webfont.svg#MentoneSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MidoMedium';
    src: url('mido/Mido-webfont.eot');
    src: url('mido/Mido-webfont.eot?iefix') format('eot'),
         url('mido/Mido-webfont.woff') format('woff'),
         url('mido/Mido-webfont.ttf') format('truetype'),
         url('mido/Mido-webfont.svg#webfontNCLiedwu') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoRetroFillRegular';
    src: url('neoretrodraw/NEORF___-webfont.eot');
    src: url('neoretrodraw/NEORF___-webfont.eot?iefix') format('eot'),
         url('neoretrodraw/NEORF___-webfont.woff') format('woff'),
         url('neoretrodraw/NEORF___-webfont.ttf') format('truetype'),
         url('neoretrodraw/NEORF___-webfont.svg#webfont5wfZb0lq') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Unibody8Regular';
    src: url('unibody/unibody_8-regular-webfont.eot');
    src: url('unibody/unibody_8-regular-webfont.eot?iefix') format('eot'),
         url('unibody/unibody_8-regular-webfont.woff') format('woff'),
         url('unibody/unibody_8-regular-webfont.ttf') format('truetype'),
         url('unibody/unibody_8-regular-webfont.svg#webfontmqR7QuOa') format('svg');
    font-weight: normal;
    font-style: normal;
}