	</div> <!-- close container -->

	<footer class="main">

		<koken:if true="settings.show_copyright">
			<span class="copyright">
				{{ site.copyright }}
			</span>
		</koken:if>

		<nav>
			<koken:navigation group="footer" />
		</nav>

		<koken:if true="settings.show_social">
			<div class="social">
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-href="{{ location.site_url }}"></div>
				&nbsp;&nbsp;
				<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
		</koken:if>

	</footer>

	<script>
	$(document).ready(function() {
		$('#mob-menu').sidr({
			name: 'sidr-right',
			side: 'right'
		});

		/* $("#swipe").swipe({
		  swipe:function(event, direction, distance, duration, fingerCount) {
		    $(this).text("You swiped " + direction );
		  }
		}); */
	});

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-23326595-1', 'uncommonpixel.com');
	ga('send', 'pageview');

	</script>

</body>

</html>