/* GENERAL STYLING ------------------------------------------------------------*/
/* ----------------------------------------------------------------------------*/

body {
	background: #EFEFEF url(../gfx/bg-tile.png) repeat;
	margin: 0;
}

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5 {
    -webkit-text-size-adjust: none;
}

/*
body {
	background: #EAE1C3 url(../gfx/bg_tile.gif) repeat;
	background: #EAE1C3 url(../gfx/bg_tile.gif) repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#EEF), to(#000)) 300px 50px no-repeat, -webkit-gradient(linear, 0 0, 0 100%, from(#EFE), to(#000)) 0 0 no-repeat;
	background: #EAE1C3 url(../gfx/bg_tile.gif) repeat,	-moz-linear-gradient(#EEF, rgba(0,0,0,1)) 300px 50px no-repeat, -moz-linear-gradient(#EFE, rgba(0,0,0,1)) 0 0 no-repeat;
}
*/

h3 {
	color: #959188;
	font-family: 'ArvoRegular', serif;
	font-size: 13px;
	left: 15px; 
	margin: 0;
	*margin-top: 10px;
	position: absolute;
	top: 14px;
}

a {
	border: none;
	outline: none;
	text-decoration: none;
}

p {
	color: #C6BA8E;
	font-family: 'ArvoRegular', serif;
	font-smooth: always;
}

li {
	list-style: none;
}

div {
	outline: none;
}

img {
	border: none;
}

/* STRUCTURE STYLING ------------------------------------------------------------*/
/* ------------------------------------------------------------------------------*/

header, section, footer {
	opacity: 0;
}

#wrapper {
	height: 100%;
	margin: 0 auto;
	overflow: hidden; 
	position: relative;
	width: 960px;
}

header {
	border: 1px #BEBCB5;
	border-style: none dashed dashed none;
	float: left;
	height: 260px;
	position: relative;
	width: 599px;
}

	h1 {
		color: #999895;
		font-family: 'ArvoRegular',serif;
		font-size: 26px;
		left: 23px;
		letter-spacing: 0;
		position: absolute;
		text-shadow: 0 -1px 0 #7A7972, 0 1px 0 #FFFFFF;
		top: 146px;
		* top: 166px;
		word-spacing: 3px;
		word-spacing: 0px\9; /* IE8 HACK */
	}

	h1 strong {
		color: #135E73;
	}

	h1 span {
		margin: 0 2px;
	}

	h2 {
		color: #AAA9A6;
		font-family: 'ArvoRegular',serif;
		font-size: 15px;
		left: 24px;
		position: absolute;
		text-shadow: 0 -1px 0 #898880, 0 1px 0 #FFFFFF;
		top: 186px;
		* top: 203px;
		word-spacing: 3px;
		word-spacing: 2px\9; /* IE8 HACK */
	}
	
	@media screen and (-webkit-min-device-pixel-ratio:0) {
	     /* WEBKIT ONLY */
	    h1 {
	    	font-size: 27px;
	     	letter-spacing: 0;
	     	word-spacing: 1px;
	    }
	     
	     h2 {
	     	word-spacing: 1px;
		}
	}
	
	#logo {
		left: 10px;
		position: absolute;
		top: 36px;
	}
	
	#logo-iphone {
		display: none;
	}

section {
	border: 1px #BEBCB5;
	position: relative;
}

/* SECTION ZERO ----------------------------------------------------*/
/* -----------------------------------------------------------------*/

#zero {
	border-style: none none dashed none;
	float: right;
	overflow: hidden;
	width: 360px; height: 260px;
	z-index: 20;
}

	#zero a, #zero p {
		font-family: 'BebasNeueRegular', Arial, sans-serif;
		font-size: 21px;
		position: absolute;
	}
	
	#zero #dslr {
		left: 52px;
		top: -98px;
	}
	
	#zero #iphone {
		left: 236px;
		top: -49px;
	}

	#zero #twitterbird {
		bottom: -202px;	
		left: 110px;
		padding-bottom: 50px;
		z-index: 35;
	}
	
	#zero p {
		color: #4A4A49;
		display: none;
		opacity: 0;
		top: 200px;
	}
	
		#zero p#text-dslr {
			left: 125px;
		}
		
		#zero p#text-iphone {
			left: 107px;
		}
		
		#zero p#text-twitter {
			left: 120px;
			top: 210px;
			word-spacing: 2px;
			z-index: 34;
		}
	
	
	
/* SECTION ONE -----------------------------------------------------*/
/* -----------------------------------------------------------------*/

#one {
	border-style: none dashed dashed none;
	float: left;
	overflow: hidden;
	width: 599px; height: 399px;
}

	/* SLIDESHOW ------------------------------------------------------------*/

	#one .prev, #one .next {
		background: url("../gfx/slideshow/arrows.png") repeat scroll 0 0 transparent;
		cursor: pointer;
		display: block;
		height: 30px;
		left: 20px;
		position: absolute;
		top: 184px;
		width: 30px;
		z-index: 101;
	}
	
	#one .next {
		background-position: -30px 0px;
		left:  550px;
	}
	
	#one .next:hover {
		background-position: -30px -30px;
	}
	
	#one .next:active {
		background-position: -30px -60px;
	}
	
	#one .prev:hover {
		background-position: 0 -30px;
	}
	
	#one .prev:active {
		background-position: 0 -60px;
	}
	
	.slides_container {
		width: 600px;
		height: 400px;
		overflow:hidden;
		position:relative;
	}
	
	.slides_container div.slide {
		width:600px;
		height:400px;
		display:block;
	}
	
	.pagination {
		left: -22px; bottom: -7px;
		position: absolute;
		width: 165px;
		z-index: 500;
	}
	
		.pagination li {
			float: left;
			margin: 0 1px;
		}
		
		.pagination li a {
			background-image: url(../gfx/slideshow/pagination.png);
			background-position: 0 0;
			display: block;
			float: left;
			outline: none;
			overflow: hidden;
			padding-top: 12px;
			width: 12px; height: 0;
		}
	
		.pagination li a:hover {
			background-position: 0 -12px;
		}
		
		.pagination li.current a {
			background-position: 0 -24px;
		}
	
	.caption {
		z-index:500;
		position:absolute;
		bottom:-140px;
		right:1px;
		padding: 15px;
		background: #fff;
		background:rgba(255,255,255,.8);
		filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE opacity hack */ 
		
		max-width: 380px;
		
		border-top-left-radius: 10px;
		-moz-border-radius-topleft: 10px;
		
	    -moz-box-shadow: 0 0 4px #BCBAB2; 
	    -webkit-box-shadow: 0 0 4px #BCBAB2; 
        box-shadow: 0 0 4px #BCBAB2; 
	
	}
		.caption p {
			color: #959188;
			font-size: 12px;
			line-height: 1.6em;
			margin: 0;
			padding: 0;
			text-align: right;
		}
		
		.caption p strong {
			color: #87837B;
			font-size: 13px;
		}
	
	/* END SLIDESHOW ------------------------------------------------------------*/

/* SECTION TWO -----------------------------------------------------*/
/* -----------------------------------------------------------------*/	

#two {
	border-style: none none dashed none;
	float: right;
	height: 199px;
	width: 360px;
}

	#two a#dribbble img#logo-dribbble {
		left: 134px;
		position: absolute;
		top: 60px; 
		z-index: 58;
	}
	
	#two a#dribbble img#logo-dribbble-shadow {
		display: none;
		height: 0;
		left: 182px;
		position: absolute;
		top: 137px;
		width: 0;
		z-index: 57;
	}
	
	#two p {
		color: #C94570;
		display: none;
		font-family: 'BebasNeueRegular', Arial, sans-serif;
		font-size: 21px;
		left: 72px;
		position: absolute;
		top: 149px;
	}
	
/* SECTION THREE ---------------------------------------------------*/
/* -----------------------------------------------------------------*/

#three {
	border-style: none none dashed none;
	float: right;
	width: 360px; height: 199px;
}

	#three a#sketchywill {
		display: block;
		height: 140px;
		left: 80px;
		position: absolute;
		top: 38px;
		width: 200px;
	}
		
		#three a#sketchywill img#sketchpad1 {
			left: 16px;
		    position: absolute;
		    top: 27px;
		}
		
		#three a#sketchywill img#sketchpad2 {
			left: 90px;
		    position: absolute;
		    top: 34px;
		}
		
		#three a#sketchywill img#pen {
			left: 159px;
			position: absolute;
			top: 43px;
		}

/* SECTION FOUR ----------------------------------------------------*/
/* -----------------------------------------------------------------*/

#four {
	border-style: none dashed dashed none;
	float: left;
	width: 299px; height: 149px;
}

	/*
	#four div#flickr-container{	
	}
	*/
	
	#four a#logo-flickr {
		left: 97px;
		padding: 10px;
		position: absolute;
		top: 54px;
	}
	
	#four #popup-flickr {
		background: #FFFFFF;
		border-radius: 10px 10px 10px 10px;
		display: none;
		font-family: 'ArvoRegular',Arial,sans-serif;
		font-size: 14px;
		left: 7px;
		padding: 20px;
		position: absolute;
		top: 48px;
		
	    -moz-border-radius: 10px; 
	 	-webkit-border-radius: 10px; 
	    border-radius: 10px;
	     
	    -moz-box-shadow: 0px 3px 0 #B9B6AA,0px 0px 1px rgba(0, 0, 0, 0.5);
	  	-webkit-box-shadow: 0px 3px 0 #B9B6AA,0px 0px 1px rgba(0, 0, 0, 0.5); 
	    box-shadow: 0px 3px 0 #B9B6AA,0px 0px 1px rgba(0, 0, 0, 0.5);
	    * border: 3px solid #B9B6AA; /* IE7 HACK */
	    border: 3px solid #B9B6AA\9; /* IE8 HACK */
	}
	
		#four #popup-flickr .arrow {
			border-color: #FFFFFF transparent transparent;
			border-style: solid;
			border-width: 15px;
			bottom: -30px;
			height: 0;
			left: 126px;
			position: absolute;
			width: 0;
		}
		
		#four #popup-flickr .arrow-border {
			border-color: #B9B6AA transparent transparent;
			border-style: solid;
			border-width: 16px;
			bottom: -35px;
			height: 0;
			left: 125px;
			position: absolute;
			width: 0;
		}
		
		#four #popup-flickr a{
			color: #333;
		}
	
			#four #popup-flickr a#flickr {
				float: left;
				padding-right: 10px;
				width: 100px;
			}
			
			#four #popup-flickr a#flickr:hover {
				color: #D91974;
			}
		
			#four #popup-flickr a#bettr {
				border-left: 1px dashed #888888;
				float: right;
				padding-left: 15px;
				width: 116px;
			}
			
			#four #popup-flickr a#bettr:hover {
				color: #365FAE;
			}

/* SECTION FIVE ----------------------------------------------------*/
/* -----------------------------------------------------------------*/

#five {
	border-style: none dashed dashed none;
	float: left;
	width: 359px; height: 149px;
	z-index: 2005;
}
	span#flashlink {
		background: transparent;
		position: absolute;
		left: 150px; top: 50px;
		width: 60px; height: 60px;
		z-index: 3000;
	}

	#five img#fl {
		background: transparent;
		left: 150px;
		position: absolute;
		top: 58px;
	}
	
	#five img#posterbg {
		display: none;
		height: 150px;
		left: 0;
		position: absolute;
		top: 0px;
		width: 360px;
		z-index: 1000;
		
		-moz-box-shadow: 0px 0px 10px #000; /* FF3.5+ */
		-webkit-box-shadow: 0px 0px 10px #000; /* Saf3.0+, Chrome */
        box-shadow: 0px 0px 10px #000; /* Opera 10.5, IE9, Chrome 10+ */
	}
	
	#five img#posterframe {
		display: none;
		position: absolute;
		top: -120px; left: 0;
		width: 360px; height: 400px;
		z-index: 2600;
	}
	
	#five img#blood {
		display: none;
		position: absolute;
		width: 353px; height: 100px;									
		top: -125px; left: 5px;
		z-index: 2100;
	}
	
	#five img#scream {
		display: none;
		left: 4px;
		position: absolute;						
		top: 120px;
		z-index: 2200;
	}
	
	#five img#flshadow {
		display: none;
		height: 100px;
		position: absolute;
		right: 15px;
		top: 180px;
		width: 277px;
		z-index: 2250;	
	}
		
	#five p {
		color: #FFFFFF;
		display: none;
		font-family: 'BebasNeueRegular', Arial, sans-serif;
		font-size: 19px;
		left: 16px;
		letter-spacing: 1px;
		line-height: 19px;
		position: absolute;
		text-align: center;
		top: 172px;
		width: 330px;
		z-index: 2700;
	}
	
	h5 {
		color: #FFFFFF;
		font-family: 'FeastofFleshBBItalic', sans-serif;
		font-size: 0;
		letter-spacing: 2px;
		line-height: 0;
		opacity: 0;
		position: absolute;
		right: 20px;
		text-shadow: 0 2px 0 #000;
		text-transform: uppercase;
		
		-webkit-transform: rotate(-10deg);
		-moz-transform: rotate(-10deg);
		transform: rotate(-10deg);
		/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
	}
		h5#text-shock {
			top: -130px;
			z-index: 2300;
		}
		
		h5#text-horror {
			top: -70px;
			z-index: 2400;
		}
		
		h5#text-ripcurl {
			top: -10px;
			z-index: 2500;
		}
	
	#five p em {
		color: #782121;
		font-style: normal;
	}
	
#five-iphone {
	display: none;
}

	
/* SECTION SIX -----------------------------------------------------*/
/* -----------------------------------------------------------------*/

#six {
	border-style: none none dashed none;
	float: left;
	overflow: hidden;
	width: 300px; height: 149px;
}

	#six a#logo-soundcloud {
		height: 130px;
		left: 80px;
		position: absolute;
		top: 50px;
		z-index: 620;	
	}
		
	#six p {
		color: #F74C13;
		display: none;
		font-family: 'BebasNeueRegular', Arial, sans-serif;
		font-size: 21px;
		left: 35px;
		position: absolute;
		top: 105px;
		z-index: 610;
	}
	
	

/* SECTION SEVEN ---------------------------------------------------*/
/* -----------------------------------------------------------------*/

#seven {
	background: url(../images/cps.jpg) no-repeat;
	border-style: none dashed dashed none;
	float: left;
	width: 479px; height: 349px;
}

	#seven img#cps {
		display: none;
		left: 129px;
		position: absolute;
		top: 92px;
	}
	
	#seven p {
		color: #FFFFFF;
		font: 27px 'NeoRetroFillRegular', Arial, sans-serif;
		left: 144px;
		position: absolute;
		text-align: center;
		text-shadow: 0 0 2px #000000, 0 1px 1px #000000;
		text-transform: uppercase;
		top: 110px;
		width: 200px;
	}

/* SECTION EIGHT ---------------------------------------------------*/
/* -----------------------------------------------------------------*/

#eight {
	border-style: none none dashed;
	float: left;
	height: 349px;
	width: 480px;
}

	#eight a {
		background: url("../gfx/download-btn.png") no-repeat scroll 0 0 transparent;
		display: none;
		height: 30px;
		left: 269px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		text-indent: -9999px;
		top: 295px;
		width: 150px;
	}
	
		#eight a:hover {
			background: url(../gfx/download-btn.png) no-repeat 0 -30px;
		}
		
		#eight a:active {
			background: url(../gfx/download-btn.png) no-repeat 0 -60px;
		}
		
	#eight p#fileformat {
		color: #B3B1AC;
		display: none;
		font-family: 'BebasNeueRegular',Arial,sans-serif;
		font-size: 21px;
		left: 36px;
		opacity: 0;
		position: absolute;
		text-shadow: 0 1px 0 #FFFFFF;
		top: 278px;	
	}

	#eight div#wordblock {
		display: block;
		height: 266px;
		left: 43px;
		position: absolute;
		top: 42px;
		width: 410px;
	}
	
	#eight img#slit-shadow {
		display: none;
		left: 6px;
		opacity: 0;
		position: absolute;
		top: 255px;
		z-index: 3000;
	}
	
	#eight div#patternpreview {
		height: 269px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 478px;
	}
		#eight div#patternpreview img {
			display: none;
			left:30px;
			opacity: 0;
			position: absolute;
			top: 40px;
		}

	#eight p {
		float: left;
		position: absolute;
	}
	#eight p#text-freedownload.lettering { /* FREE DOWNLOAD! */
		color: #BEBCB5;
		font-family: 'BebasNeueRegular',Arial,sans-serif;
		font-size: 79px;
		left: 0;
		letter-spacing: -1px;
		text-shadow: 0 1px 0 #F8F7F1, 0 1px 0 #F9F9F4, 0 -1px 0 #AAAAA0, 0 -1px 0 #41413B;
		text-transform: uppercase;
		top: -94px;
		* top: -5px; /* IE7 HACK */
	}
	
	#eight div#wordblock p#text-nononsense { /* Will's No-Nonsense */
		color: #333333;
		font-family: 'HVDBodedoMedium',Arial,sans-serif;
		font-size: 36px;
		left: 1px;
		letter-spacing: -3px;
		top: 7px;
		* top: 55px; /* IE7 HACK */
	}
	
		
		#eight div#wordblock p#text-nononsense.lettering_words span.word1 { /* Will's */
			font-size: 26px;
			margin-top: 2px;
		}
			
			#eight div#wordblock p#text-nononsense.lettering_words span.word1 span.char5 { /* ' */
				margin-left: 0px;
			}
		
		#eight div#wordblock p#text-nononsense.lettering_words span.word2 { /* No-Nonsense */
			font-size: 40px;
			left: 82px;
			position: absolute;
			top: 8px;
			width: 340px;	
		}
	
	#eight img#ps { /* PHOTOSHOP ICON */
		left: 1px;
		position: absolute;
		top: 96px;
	}
	
	#eight p#text-pixelpatterns { /* PIXEL PATTERNS */
		color: #135E73;
		font-family: 'Unibody8Regular',arial,sans-serif;
		font-size: 40px;
		* font-size: 37px; /* IE7 HACK */
		left: 65px;
		letter-spacing: -6px;
		text-shadow: 1px 1px 0 #0B3641, -1px -1px 0 #0B3641, -1px 4px 0 #0B3641, 1px 4px 0 #0B3641;
		text-transform: uppercase;
		top: 55px;
		* top: 106px; /* IE7 HACK */
		width: 330px;
	}
	
		#eight div#wordblock p#text-pixelpatterns.lettering span.char1 { /* P */
			margin-left: 0px;
		}
	
		#eight div#wordblock p#text-pixelpatterns.lettering span.char2 { /* I */
			color: #448293;
			margin-left: -9px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char3 { /* X */
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char4 { /* E */
			color: #448293;
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char5 { /* L */
			letter-spacing: 3px;
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char6 { /* _ */
			color: #448293;
			letter-spacing: -14px;
			margin-left: 0px;
		}
	
		#eight div#wordblock p#text-pixelpatterns.lettering span.char7 { /* P */
			margin-left: 7px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char8 { /* A */
			color: #448293;
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char9 { /* T */
			letter-spacing: 0;
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char10 { /* T */
			color: #448293;
			letter-spacing: 0;
			margin-left: 1px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char11 { /* E */
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char12 { /* R */
			color: #448293;
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char13 { /* N */
			margin-left: -4px;
		}
		
		#eight div#wordblock p#text-pixelpatterns.lettering span.char14 { /* S */
			color: #448293;
			margin-left: -4px;
		}
	
	#eight p#text-whatshould { /* what should have */
		color: #555555;
		font-family: 'MidoMedium',Arial,sans-serif;
		font-size: 17px;
		left: 113px;
		top: 138px;
		* top: 153px; /* IE7 HACK */
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words { /* 100 Patterns */
		left: 0;
		top: 118px;
		* top: 143px; /* IE7 HACK */
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word1 { /* 100 */
		color: #D25E85;
		font-family: 'BevanRegular',arial,serif;
		font-size: 60px;
		text-shadow: 0 1px 0 #FFFFFF, 0 -1px 0 #A22A52;
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word2 { /* patterns */
		color: #D25E85;
		font-family: 'BevanRegular',arial,serif;
		font-size: 33px;
		margin-left: 4px;
		text-shadow: 0 1px 0 #FFFFFF, 0 -1px 0 #A22A52;
		
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word3, 
	#eight div#wordblock p#hundredpatterns.lettering_words span.word4 { /* in both */
		color: #555;
		font-size: 33px;
		margin-left: 8px;
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word5 { /* black */
		color: #000000;
		font-size: 50px;
		left: 0;
		letter-spacing: -2px;
		position: absolute;
		text-shadow: 0 1px 0px #FFFFFF,0 0px 3px #FFFFFF;
		top: 60px;
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word6 { /* & */
		color: #fff;
		font-size: 50px;
		position: absolute;
		text-shadow: 0 0 2px #959188,0 2px 0px #DEDBD2; 
		top: 60px; left: 127px;
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word7 { /* white */
		color: #fff;
		font-size: 50px;
		position: absolute;
		text-shadow: 0 0 2px #959188,0 2px 0px #DEDBD2; 
		top: 60px; left: 165px; 
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word8 { /* on */
		color: #D6D5D0;
		font-size: 37px;
		left: 0;
		position: absolute;
		text-shadow: 0 -1px 0 #BAB8B2, 0 1px 0 #F8F8F4;
		top: 103px;
	}
	
	#eight div#wordblock p#hundredpatterns.lettering_words span.word9 { /* transparency */
		color: #D6D5D0;
		font-size: 37px;
		left: 58px;
		position: absolute;
		text-shadow: 0 -1px 0 #BAB8B2, 0 1px 0 #F8F8F4;
		top: 104px;
	}
	
	#eight div#wordblock p#version { /* V.1 */
		color: #D6D5D0;
		font-family: 'BebasNeueRegular',Arial,sans-serif;
		font-size: 89px;
		left: 305px;
		text-shadow: 0 -1px 0 #BAB8B2, 0 1px 0 #F8F8F4;
		top: 104px;
		* top: 210px; /* IE7 HACK */
	}
	
		#eight div#wordblock p#version.lettering span.char1 { /* V */
			margin-left: 0;
		}
		
		#eight div#wordblock p#version.lettering span.char2 { /* . */
			margin-left: -1px;
		}
		
		#eight div#wordblock p#version.lettering span.char3 { /* 1 */
			margin-left: -1px;
		}
		
		#eight div#wordblock p#version.lettering span.char4 { /* . */
			margin-left: -7px;
		}

#eight-iphone {
	display: none;
}

/* SECTION NINE ----------------------------------------------------*/
/* -----------------------------------------------------------------*/

	#nine {
		border-style: none dashed dashed none;
		float: left;
		height: 149px;
		overflow: hidden;
		width: 239px;
	}
		#nine a#logo-forrst {
			left: 87px;
			height: 160px;
			position: absolute;
			top: 40px;
			z-index: 920;
		}
		
		#nine p {
			color: #5B9A68;
			display: none;
			font-family: 'BebasNeueRegular', Arial, sans-serif;
			font-size: 21px;
			left: 55px;
			opacity: 0;
			position: absolute;
			top: 110px;
			z-index: 910;
		}
	
/* SECTION TEN -----------------------------------------------------*/
/* -----------------------------------------------------------------*/

	#ten {
		border-style: none dashed dashed none;
		float: left;
		height: 149px;
		overflow: hidden;
		width: 239px;
	}
	
		#ten a#netliferesearch img#nlr-will {
			left: 2px;
			position: absolute;
			top: 81px;
			z-index: 10;
		}
		
		#ten a#netliferesearch img#nlr-bg {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 9;
		}
		
		#ten p {
			color: #959188;
			display: none;
			font-family: 'BebasNeueRegular',Arial,sans-serif;
			font-size: 21px;
			left: 45px;
			position: absolute;
			/* text-shadow: 0 1px 0 #716F5E, 0 -1px 0 #FFFFFF; */
			top: 110px;
		}

/* SECTION ELEVEN --------------------------------------------------*/
/* -----------------------------------------------------------------*/
	
	#eleven {
		border-style: none dashed dashed none;
		float: left;
		height: 149px;
		width: 239px;
	}
	
		#eleven a#logo-linkedin {
			left: 87px;
			position: absolute;
			top: 46px;
		}
		
		#eleven p {
			color: #959188;
			display: none;
			font-family: 'BebasNeueRegular',Arial,sans-serif;
			font-size: 21px;
			left: -75px;
			padding: 10px;
			position: absolute;
			text-align: center;
			top: -28px;
			width: 200px;
		}

/* SECTION TWELVE --------------------------------------------------*/
/* -----------------------------------------------------------------*/

	#twelve {
		border-style: none none dashed;
		float: left;
		height: 149px;
		overflow: hidden;
		width: 239px;
	}
	
		/*
		#twelve a {
		}
		*/
		
		#twelve a div {
			height: 123px;
			overflow: hidden;
			position: absolute;
			width: 239px;
		}
	
		#twelve a div img#envelope {
			left: 70px;
			position: absolute;
			top: 33px;
			z-index: 146;
		}
		
		#twelve a img#postbox {
			left: 33px;
			position: absolute;
			top: 151px;
			z-index: 145;
		}
		
		
		
/* FOOTER ----------------------------------------------------------*/
/* -----------------------------------------------------------------*/
		
	footer {
		float: left;
		margin-bottom: 30px;
		width: 100%;
	}

		footer p {
			color: #959188;
			float: left;
			font-family: 'ArvoRegular', Georgia, serif;
			font-size: 14px;
			margin: 20px 0;
			text-align: center;
			width: 100%;
		}
		
		footer p span {
			color: #135E73;
			letter-spacing: -2px;
			margin: 0 15px;
		}
		
		footer p strong {
			color: #135E73;
		}