@media screen and (max-device-width: 360px){
    /* mobile - iPhone specific */
    
    #wrapper {
    	margin: 0 !important;
    	width: 360px !important; /* was 600 */
    }
    
   	/* HEADER ----------------------------------------------------------*/
	/* -----------------------------------------------------------------*/
    
    header, section, footer {
		border-style: none none dashed none !important;
		clear: left !important;
		float: left !important;
		width: 360px !important; /* was 600 */
    }
    
    header {
    	height: 500px;
    }
    
    img#logo {
    	display: none;
    }
    
    #logo-iphone {
		display: block;
		left: 40px;
		position: absolute;
		top: 20px;
	}	
    
    h1 {
    	font-size: 33px !important;
    	left: 40px;
    	top: 250px;
    	width: 281px;
    }
    
    	h1 span {
    		display: block;
    	}
    
    h2 {
    	font-size: 18px !important;
    	left: 40px;
    	line-height: 1.4em;
    	top: 390px;
    	width: 281px;
    }
    
    /* SECTIONS (GENERIC) ----------------------------------------------*/
	/* -----------------------------------------------------------------*/
    
    h3 {
    	left: 5px !important;
    }
 
    /* SECTION ONE -----------------------------------------------------*/
	/* -----------------------------------------------------------------*/

    section#one {
    	height: 300px;
    }
    
    	.slides_container {
    		margin-top: 10px;
			width: 360px;
			height: 240px;
			overflow: hidden;
			position: relative;
			z-index: 360;
		}
		
		.slides_container div.slide {
			width: 360px;
			height: 240px;
			display: block;
		}
		
		div.slide a img, div.slide img {
			width: 360px;
			height: 240px;
		}
		
		.pagination {
			left: 30px; bottom: 3px;
			position: absolute;
			width: 170px;
			z-index: 500;
		}
		
		.prev, .next {
			top: 260px !important;
		}
		
		.prev {
			z-index: 510;
		}
		
		.next {
			left: 310px !important;
			z-index: 520;
		}
	
	/* SECTION FOUR ----------------------------------------------------*/
	/* -----------------------------------------------------------------*/
	
	#four a#logo-flickr {
		left: 130px;
	}
	
	#four #popup-flickr {
		left: 38px;
	}
	
	/* SECTION FIVE ----------------------------------------------------*/
	/* -----------------------------------------------------------------*/

    section#five, section#eight {
    	display: none;
    }
    
    section#five-iphone, section#eight-iphone {
    	display: block;
    	border-style: none none dashed;
		float: left;
		height: 40px;
		width: 360px;
    }
    
    /* SECTION SIX -----------------------------------------------------*/
	/* -----------------------------------------------------------------*/
    
    #six a#logo-soundcloud {
		left: 110px;
	}
	
	#six p {
		left: 58px;
	}
	
	/* SECTION SEVEN ---------------------------------------------------*/
	/* -----------------------------------------------------------------*/
    
    #seven {
		background: url(../images/cps-iphone.jpg) no-repeat ;
		height: 240px;
		width: 360px;
	}
	
		#seven img#cps {
			left: 60px;
			top: 60px;
		}
	
		#seven p {
			left: 75px;
			top: 50px;
		}
		
	/* SECTION NINE ----------------------------------------------------*/
	/* -----------------------------------------------------------------*/
		
	#nine a#logo-forrst {
		left: 155px;
	}
	
	#nine p {
		left: 120px;
	}
	
	/* SECTION TEN -----------------------------------------------------*/
	/* -----------------------------------------------------------------*/
	
	#ten p {
		left: 108px;
	}
	
	#ten a#netliferesearch img#nlr-will {
		left: 72px;
	}
	
	/* SECTION ELEVEN --------------------------------------------------*/
	/* -----------------------------------------------------------------*/
	
	#eleven a#logo-linkedin {
		left: 150px;
	}
	
	/* SECTION TWELVE --------------------------------------------------*/
	/* -----------------------------------------------------------------*/
	
	#twelve a div img#envelope {
		left: 140px;
	}
	
	#twelve a img#postbox {
		left: 100px;
	}
    
    section#twelve a {
    	
	}
	
	/* FOOTER ----------------------------------------------------------*/
	/* -----------------------------------------------------------------*/
    
    footer {
    	border: 1px #C6BA8E;
    }
}

@media only screen and (device-width: 768px) {
	/* iPad specific */
	h1 {
		font-size: 26px;
    	word-spacing: -2px;
    }
}