//  SPRITE ICONS
//  ---------------------------------------------------------------------------------------

@mixin sprite($xpos, $ypos) {
    background-image: url(../img/ho-sprite.png);
    background-image: none, url(../img/ho-sprite.svg);
    background-position: $xpos $ypos;
    background-repeat: no-repeat;
}

//  STYLE INPUT PLACEHOLDERS
//  ---------------------------------------------------------------------------------------

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}