//  MAKE THE BROWSER GOOD
//  --------------------------------------------------------
* { @include box-sizing(border-box); }





//  GRID ELEMENTS
//  -------------------------------------------------------


// Contain floated elements in this
.l-100 { @include pie-clearfix(); }

// Applied to all screen sizes (mobile first)

@include query-min($s) {
}

@include query-min($m) {
}

@include query-min($l) {
}

@include query-min($xl) {

}



//  GRID ELEMENTS FOR MAIN CONTENT BLOCKS INCLUDING PADDING
//  -------------------------------------------------------


.l-header {
    @include pie-clearfix();
    padding: $pad*2;
}

    .l-btn-nav {

    }

    .l-logo {

    }

.l-nav-body {

}

.l-nav-content {
    width: 100%;
}

.l-content {
    padding: 0 $pad*2;
}

figcaption {
    margin-bottom: $pad*2;
    width: 100%;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}