// Reset the button element
button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin: 0;
    outline: none;
}




// Generic buttons
// -------------------------------------------------------------------------------
.btn {
    -webkit-appearance: none;

    &:hover {

    }

    &:active {

    }
}