$fix-mqs: false !default;

//  MEDIA QUERIES
//  --------------------------------------------------------

$s: 420px;
$m: 650px;
$l: 960px;
$xl: 1400px;
$xxl: 1600px;
$xxxl: 1800px;

@mixin query-min($width) {
    @if $fix-mqs {
        @if $fix-mqs >= $width {
            @content;
        }
    }
    @else {
        @media screen and (min-width: $width) {
            @content;
        }
    }
}

@mixin query-max($width) {
    @if $fix-mqs {
        @if $fix-mqs <= $width {
            @content;
        }
    }
    @else {
        @media screen and (max-width: $width) {
            @content;
        }
    }
}

$old-ie: false !default;

@mixin old-ie {
    @if $old-ie {
        @content;
    }
}